<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="tb-details-buttons" fxLayout.xs="column">
  <button
    mat-raised-button
    color="primary"
    [disabled]="isLoading$ | async"
    (click)="onEntityAction($event, 'open')"
    [fxShow]="!isEdit && !isDetailsPage"
  >
    {{ "common.open-details-page" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    fxFlex.xs
    [disabled]="isLoading$ | async"
    (click)="onEntityAction($event, 'downloadResource')"
    [fxShow]="!isEdit"
  >
    {{ "resource.download" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    fxFlex.xs
    [disabled]="isLoading$ | async"
    (click)="onEntityAction($event, 'delete')"
    [fxShow]="!hideDelete() && !isEdit"
  >
    {{ "resource.delete" | translate }}
  </button>
  <div fxLayout="row" fxLayout.xs="column">
    <button
      mat-raised-button
      ngxClipboard
      (cbOnSuccess)="onResourceIdCopied()"
      [cbContent]="entity?.id?.id"
      [fxShow]="!isEdit"
    >
      <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
      <span translate>resource.copyId</span>
    </button>
  </div>
</div>
<div class="mat-padding" fxLayout="column">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-label translate>resource.resource-type</mat-label>
        <mat-select formControlName="resourceType" required>
          <mat-option
            *ngFor="let resourceType of resourceTypes"
            [value]="resourceType"
          >
            {{ resourceTypesTranslationMap.get(resourceType) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        class="mat-block"
        *ngIf="
          entityForm.get('resourceType').value !== resourceType.LWM2M_MODEL ||
          !isAdd
        "
      >
        <mat-label translate>resource.title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="entityForm.get('title').hasError('required')">
          {{ "resource.title-required" | translate }}
        </mat-error>
        <mat-error *ngIf="entityForm.get('title').hasError('maxlength')">
          {{ "resource.title-max-length" | translate }}
        </mat-error>
      </mat-form-field>
      <tb-file-input
        *ngIf="isAdd"
        formControlName="data"
        required
        [readAsBinary]="true"
        [allowedExtensions]="getAllowedExtensions()"
        [contentConvertFunction]="convertToBase64File"
        [accept]="getAcceptType()"
        [multipleFile]="
          entityForm.get('resourceType').value === resourceType.LWM2M_MODEL
        "
        dropLabel="{{ 'resource.drop-file' | translate }}"
        [existingFileName]="entityForm.get('fileName')?.value"
        (fileNameChanged)="entityForm?.get('fileName').patchValue($event)"
      >
      </tb-file-input>
      <div
        *ngIf="!isAdd"
        fxLayout="row"
        fxLayoutGap.gt-md="8px"
        fxLayoutGap.sm="8px"
        fxLayout.xs="column"
        fxLayout.md="column"
      >
        <mat-form-field fxFlex>
          <mat-label translate>resource.file-name</mat-label>
          <input matInput formControlName="fileName" type="text" />
        </mat-form-field>
      </div>
    </fieldset>
  </form>
</div>
