/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  min-width: 0;
  .row {
    margin-top: 1em;
  }
  .tb-alarm-rule-details, .tb-alarm-rule-dashboard {
    padding: 4px;
    &.title {
      opacity: 0.7;
      overflow: visible;
    }
  }
  .tb-alarm-rule-details {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .tb-alarm-rule-dashboard {
    &.dashboard {
      width: 100%;
      max-width: 350px;
    }
  }
}

