<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form [formGroup]="conditionFormGroup" (ngSubmit)="save()" style="width: 700px">
  <mat-toolbar color="primary">
    <h2>
      {{
        (readonly
          ? "device-profile.alarm-rule-condition"
          : "device-profile.edit-alarm-rule-condition"
        ) | translate
      }}
    </h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div fxFlex fxLayout="column">
        <tb-key-filter-list
          [displayUserParameters]="false"
          [allowUserDynamicSource]="false"
          [telemetryKeysOnly]="true"
          [entityId]="entityId"
          formControlName="keyFilters"
        >
        </tb-key-filter-list>
        <section formGroupName="spec" style="margin-top: 1em">
          <mat-form-field class="mat-block" hideRequiredMarker>
            <mat-label translate>device-profile.condition-type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option
                *ngFor="let alarmConditionType of alarmConditionTypes"
                [value]="alarmConditionType"
              >
                {{
                  alarmConditionTypeTranslation.get(alarmConditionType)
                    | translate
                }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="conditionFormGroup.get('spec.type').hasError('required')"
            >
              {{ "device-profile.condition-type-required" | translate }}
            </mat-error>
          </mat-form-field>
          <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap.gt-xs="16px"
            *ngIf="
              conditionFormGroup.get('spec.type').value !=
              AlarmConditionType.SIMPLE
            "
          >
            <tb-alarm-duration-predicate-value
              fxLayout="row"
              fxFlex
              formControlName="predicate"
              [alarmConditionType]="conditionFormGroup.get('spec.type').value"
            >
            </tb-alarm-duration-predicate-value>
            <div
              fxFlex="23"
              *ngIf="
                conditionFormGroup.get('spec.type').value ==
                AlarmConditionType.DURATION
              "
            >
              <mat-form-field
                class="mat-block"
                hideRequiredMarker
                floatLabel="always"
              >
                <mat-label></mat-label>
                <mat-select
                  formControlName="unit"
                  required
                  placeholder="{{
                    'device-profile.condition-duration-time-unit' | translate
                  }}"
                >
                  <mat-option
                    *ngFor="let timeUnit of timeUnits"
                    [value]="timeUnit"
                  >
                    {{ timeUnitTranslations.get(timeUnit) | translate }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    conditionFormGroup.get('spec.unit').hasError('required')
                  "
                >
                  {{
                    "device-profile.condition-duration-time-unit-required"
                      | translate
                  }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </section>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="isLoading$ | async"
      (click)="cancel()"
      cdkFocusInitial
    >
      {{ (readonly ? "action.close" : "action.cancel") | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="!readonly"
      type="submit"
      [disabled]="
        (isLoading$ | async) ||
        conditionFormGroup.invalid ||
        !conditionFormGroup.dirty
      "
    >
      {{ "action.save" | translate }}
    </button>
  </div>
</form>
