/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  display: flex;
  a.mat-button {
    &:hover, &:focus {
      border-bottom: none;
    }
  }
  .tb-alarm-rule-condition {
    cursor: pointer;
    min-width: 0;
    .tb-alarm-rule-condition-spec {
      opacity: 0.7;
      padding: 4px;
    }
    &.title {
      padding: 4px;
      opacity: 0.7;
      overflow: visible;
    }
  }
}

:host ::ng-deep {
  .tb-alarm-rule-condition {
    .tb-filter-text {
      max-height: 200px;
    }
  }
}
