<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div
  fxFlex
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
  [formGroup]="alarmDurationPredicateValueFormGroup"
>
  <div fxFlex fxLayout="column" [fxShow]="!dynamicMode">
    <mat-form-field floatLabel="always" hideRequiredMarker class="mat-block">
      <mat-label></mat-label>
      <input
        required
        type="number"
        matInput
        step="1"
        min="1"
        max="2147483647"
        formControlName="defaultValue"
        placeholder="{{ defaultValuePlaceholder | translate }}"
      />
      <mat-error
        *ngIf="
          alarmDurationPredicateValueFormGroup
            .get('defaultValue')
            .hasError('required')
        "
      >
        {{ defaultValueRequiredError | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          alarmDurationPredicateValueFormGroup
            .get('defaultValue')
            .hasError('min')
        "
      >
        {{ defaultValueRangeError | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          alarmDurationPredicateValueFormGroup
            .get('defaultValue')
            .hasError('max')
        "
      >
        {{ defaultValueRangeError | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          alarmDurationPredicateValueFormGroup
            .get('defaultValue')
            .hasError('pattern')
        "
      >
        {{ defaultValuePatternError | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div fxFlex fxLayout="column" [fxShow]="dynamicMode">
    <div
      formGroupName="dynamicValue"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="8px"
    >
      <div fxFlex="40" fxLayout="column">
        <mat-form-field
          floatLabel="always"
          hideRequiredMarker
          class="mat-block"
        >
          <mat-label></mat-label>
          <mat-select
            formControlName="sourceType"
            placeholder="{{ 'filter.dynamic-source-type' | translate }}"
          >
            <mat-option [value]="null">
              {{ "filter.no-dynamic-value" | translate }}
            </mat-option>
            <mat-option
              *ngFor="let sourceType of dynamicValueSourceTypes"
              [value]="sourceType"
            >
              {{
                dynamicValueSourceTypeTranslations.get(sourceType) | translate
              }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="column">
        <mat-form-field
          floatLabel="always"
          hideRequiredMarker
          class="mat-block source-attribute"
        >
          <mat-label></mat-label>
          <input
            matInput
            formControlName="sourceAttribute"
            placeholder="{{ 'filter.source-attribute' | translate }}"
          />
        </mat-form-field>
      </div>
      <div *ngIf="inheritMode" fxLayout="column" style="padding-top: 6px">
        <mat-checkbox formControlName="inherit">
          {{ "filter.inherit-owner" | translate }}
        </mat-checkbox>
      </div>
    </div>
  </div>
  <button
    mat-icon-button
    class="mat-elevation-z1 tb-mat-32"
    color="primary"
    type="button"
    matTooltip="{{
      (dynamicMode
        ? 'filter.switch-to-default-value'
        : 'filter.switch-to-dynamic-value'
      ) | translate
    }}"
    matTooltipPosition="above"
    (click)="dynamicMode = !dynamicMode"
  >
    <mat-icon
      class="tb-mat-20"
      [svgIcon]="dynamicMode ? 'mdi:numeric' : 'mdi:variable'"
    ></mat-icon>
  </button>
</div>
