/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  display: block;
  .clear-alarm-rule {
    border: 2px groove rgba(0, 0, 0, .45);
    border-radius: 4px;
    padding: 8px;
  }
  .mat-expansion-panel {
    box-shadow: none;
    &.device-profile-alarm {
      border: 1px groove rgba(0, 0, 0, .25);
      .mat-expansion-panel-header {
        padding: 0 24px 0 8px;
        &.mat-expanded {
          height: 48px;
        }
      }
    }
    &.advanced-settings {
      border: none;
      padding: 0;
      .mat-expansion-panel-header {
        padding: 0 8px;
      }
    }
  }
}

:host ::ng-deep {
  .mat-expansion-panel {
    &.device-profile-alarm {
      .mat-expansion-panel-body {
        padding: 0 8px 8px;
      }
    }
    &.advanced-settings {
      .mat-expansion-panel-body {
        padding: 0;
      }
    }
    .button-icon{
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
