<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<section [formGroup]="modelsFormGroup">
  <mat-accordion multi="true" formArrayName="models">
    <mat-expansion-panel
      *ngFor="let objectLwM2M of modelsFormArray.controls; let $index = index; trackBy: trackByParams"
      [formGroupName]="$index">
      <mat-expansion-panel-header >
        <mat-panel-title fxLayoutAlign="start center" >
          <span class="tb-panel-title">{{ objectLwM2M.get('name').value}}</span>&nbsp;#{{ objectLwM2M.get('keyId').value}}
          <span fxFlex></span>
          <tb-profile-lwm2m-attributes
            formControlName="attributes"
            [modelName]="getNameObject(objectLwM2M.value)">
          </tb-profile-lwm2m-attributes>
          <button type="button"
                  *ngIf="!disabled && objectLwM2M.get('multiple').value"
                  mat-button mat-icon-button (click)="addInstances($event, objectLwM2M)"
                  matTooltip="{{'device-profile.lwm2m.add-new-instances' | translate}}"
                  matTooltipPosition="above">
            <mat-icon class="material-icons">note_add</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <tb-profile-lwm2m-observe-attr-telemetry-instances
          formControlName="instances">
        </tb-profile-lwm2m-observe-attr-telemetry-instances>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</section>
