<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<section [formGroup]="serverFormGroup" fxLayout="column">
  <mat-form-field class="mat-block">
    <mat-label translate>device.lwm2m-security-config.mode</mat-label>
    <mat-select formControlName="securityMode">
      <mat-option *ngFor="let securityType of securityConfigLwM2MTypes" [value]="securityType">
        {{ lwm2mSecurityTypeTranslationMap.get(securityType) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div [fxShow]="serverFormGroup.get('securityMode').value !== securityConfigLwM2MType.NO_SEC">
    <mat-form-field class="mat-block">
      <mat-label>{{ 'device.lwm2m-security-config.client-publicKey-or-id' | translate }}</mat-label>
      <mat-icon class="mat-primary" aria-hidden="false" aria-label="help-icon" matSuffix style="cursor:pointer;"
                matTooltip="{{ publicKeyOrIdTooltipNamesMap.get(serverFormGroup.get('securityMode').value) | translate }}">help</mat-icon>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cols="1"
                formControlName="clientPublicKeyOrId"
                required>
      </textarea>
      <mat-error *ngIf="serverFormGroup.get('clientPublicKeyOrId').hasError('required')">
        {{ 'device.lwm2m-security-config.client-publicKey-or-id-required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-block">
      <mat-label>{{ 'device.lwm2m-security-config.client-secret-key' | translate }}</mat-label>
      <mat-icon class="mat-primary" aria-hidden="false" aria-label="help-icon" matSuffix style="cursor:pointer;"
                matTooltip="{{ clientSecretKeyTooltipNamesMap.get(serverFormGroup.get('securityMode').value) | translate }}">help</mat-icon>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cols="1"
                formControlName="clientSecretKey"
                required>
      </textarea>
      <mat-error *ngIf="serverFormGroup.get('clientSecretKey').hasError('required')">
        {{ 'device.lwm2m-security-config.client-secret-key-required' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</section>
