<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<mat-tab-group [formGroup]="lwm2mConfigFormGroup">
  <mat-tab label="{{ 'device.lwm2m-security-config.client-tab' | translate }}">
    <ng-container formGroupName="client">
      <mat-form-field class="mat-block">
        <mat-label translate>device.lwm2m-security-config.endpoint</mat-label>
        <input matInput type="text" formControlName="endpoint" required>
        <mat-error *ngIf="lwm2mConfigFormGroup.get('client.endpoint').hasError('required')">
          {{ 'device.lwm2m-security-config.endpoint-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device.lwm2m-security-config.mode</mat-label>
        <mat-select formControlName="securityConfigClientMode">
          <mat-option *ngFor="let securityConfigClientMode of securityConfigLwM2MTypes"
                      [value]="securityConfigClientMode">
            {{ credentialTypeLwM2MNamesMap.get(securityConfigLwM2MType[securityConfigClientMode]) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mat-block"
                      *ngIf="lwm2mConfigFormGroup.get('client.securityConfigClientMode').value === securityConfigLwM2MType.PSK">
        <mat-label>{{ 'device.lwm2m-security-config.identity' | translate }}</mat-label>
        <mat-icon class="mat-primary" aria-hidden="false" aria-label="help-icon" matSuffix style="cursor:pointer;"
                  matTooltip="{{ 'device.lwm2m-security-config.identity-tooltip' | translate }}">help</mat-icon>
        <input matInput type="text" formControlName="identity" required>
        <mat-error *ngIf="lwm2mConfigFormGroup.get('client.identity').hasError('required')">
          {{ 'device.lwm2m-security-config.identity-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block" *ngIf="lwm2mConfigFormGroup.get('client.securityConfigClientMode').value === securityConfigLwM2MType.RPK ||
          lwm2mConfigFormGroup.get('client.securityConfigClientMode').value === securityConfigLwM2MType.PSK">
        <mat-label>{{ 'device.lwm2m-security-config.client-key' | translate }}</mat-label>
        <mat-icon class="mat-primary" aria-hidden="false" aria-label="help-icon" matSuffix style="cursor:pointer;"
                  matTooltip="{{ clientKeyTooltipNamesMap.get(lwm2mConfigFormGroup.get('client.securityConfigClientMode').value) | translate }}">help</mat-icon>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cols="1"
                  formControlName="key"
                  required>
        </textarea>
        <mat-error *ngIf="lwm2mConfigFormGroup.get('client.key').hasError('required')">
          {{ 'device.lwm2m-security-config.client-key-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block" *ngIf="lwm2mConfigFormGroup.get('client.securityConfigClientMode').value === securityConfigLwM2MType.X509">
        <mat-label translate>device.lwm2m-security-config.client-public-key</mat-label>
        <mat-icon *ngIf="lwm2mConfigFormGroup.get('client.cert').value" class="mat-primary" aria-hidden="false" aria-label="help-icon" matSuffix style="cursor:pointer;"
                  matTooltip="{{ 'device.lwm2m-security-config.client-public-key-tooltip' | translate }}">help</mat-icon>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cols="1"
                  formControlName="cert">
        </textarea>
        <mat-hint translate>device.lwm2m-security-config.client-public-key-hint</mat-hint>
      </mat-form-field>
    </ng-container>
  </mat-tab>
  <mat-tab label="{{ 'device.lwm2m-security-config.bootstrap-tab' | translate }}">
    <div style="padding: 2px;" formGroupName="bootstrap">
      <mat-accordion multi="true" class="mat-body-1">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'device.lwm2m-security-config.bootstrap-server' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <tb-device-credentials-lwm2m-server
              formControlName="bootstrapServer">
            </tb-device-credentials-lwm2m-server>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'device.lwm2m-security-config.lwm2m-server' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <tb-device-credentials-lwm2m-server
              formControlName="lwm2mServer">
            </tb-device-credentials-lwm2m-server>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
</mat-tab-group>
