/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host ::ng-deep {
  .tb-button-toggle {
    .tb-toggle-icon {
      display: inline-block;
      width: 15px;
      margin: auto 0 auto auto;
      background-size: 100% auto;
      transition: transform .3s ease-in-out;
      &.tb-toggled {
        transform: rotateZ(180deg);
      }
    }
  }

  .tb-menu-toggle-list {
    position: relative;
    z-index: 1;
    overflow: hidden;

    transition: .75s cubic-bezier(.35, 0, .25, 1);

    transition-property: height;

    a.mat-button {
      padding: 0 16px 0 32px;
      font-weight: 500;
      text-transform: none !important;
      text-rendering: optimizeLegibility;
    }
  }
}
