/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import '../../../../../scss/constants';

:host {
  width: 100%;
  height: 100%;
  display: block;
  .tb-entity-table {
    .tb-entity-table-content {
      width: 100%;
      height: 100%;
      background: #fff;

      .mat-toolbar-tools{
        min-height: auto;
      }

      .title-container{
        overflow: hidden;
      }

      .tb-entity-table-title {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .table-container {
        overflow: auto;
        .link {
          border-bottom: none;
        }
      }

      .tb-entity-table-info{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media #{$mat-xs} {
    .mat-toolbar {
      height: auto;
      min-height: 100px;

      .tb-entity-table-title{
        padding-bottom: 5px;
        width: 100%;
      }
    }
  }
}

:host ::ng-deep {
  .mat-sort-header-sorted .mat-sort-header-arrow {
    opacity: 1 !important;
  }
  mat-form-field.tb-relation-direction {
    font-size: 16px;
    width: 200px;

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-underline {
      bottom: 0;
    }

    @media #{$mat-xs} {
      width: 100%;

      .mat-form-field-infix {
        width: auto !important;
      }
    }
  }
}
