<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div fxFlex fxLayout="column" class="tb-progress-cover" fxLayoutAlign="center center"
     [ngStyle]="dashboardStyle"
     [style.backgroundImage]="backgroundImage"
     [fxShow]="(isLoading$ | async) && !ignoreLoading && !isEdit">
  <mat-spinner color="warn" mode="indeterminate" diameter="100">
  </mat-spinner>
</div>
<div id="gridster-parent"
     fxFlex class="tb-dashboard-content layout-wrap" [ngStyle]="{overflowY: isAutofillHeight() ? 'hidden' : 'auto'}"
                (contextmenu)="openDashboardContextMenu($event)">
  <div #dashboardMenuTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
       [style.left]="dashboardMenuPosition.x"
       [style.top]="dashboardMenuPosition.y"
       [matMenuTriggerFor]="dashboardMenu">
  </div>
  <mat-menu #dashboardMenu="matMenu">
    <ng-template matMenuContent let-items="items">
      <div class="tb-dashboard-context-menu-items">
        <button mat-menu-item *ngFor="let item of items;"
                [disabled]="!item.enabled"
                (click)="item.action(dashboardContextMenuEvent)">
          <span *ngIf="item.shortcut" class="tb-alt-text"> {{ item.shortcut | keyboardShortcut }}</span>
          <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
          <span translate>{{item.value}}</span>
        </button>
      </div>
    </ng-template>
  </mat-menu>
  <div #widgetMenuTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
       [style.left]="widgetMenuPosition.x"
       [style.top]="widgetMenuPosition.y"
       [matMenuTriggerFor]="widgetMenu">
  </div>
  <mat-menu #widgetMenu="matMenu">
    <ng-template matMenuContent let-items="items" let-widget="widget">
      <div class="tb-dashboard-context-menu-items">
        <button mat-menu-item *ngFor="let item of items;"
                [disabled]="!item.enabled"
                (click)="item.action(widgetContextMenuEvent, widget)">
          <span *ngIf="item.shortcut" class="tb-alt-text"> {{ item.shortcut | keyboardShortcut }}</span>
          <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
          <span translate>{{item.value}}</span>
        </button>
      </div>
    </ng-template>
  </mat-menu>
  <div [ngClass]="dashboardClass" id="gridster-background" style="height: auto; min-height: 100%; display: inline;">
    <gridster #gridster id="gridster-child" [options]="gridsterOpts">
      <gridster-item #gridsterItem [item]="widget" [ngClass]="{'tb-noselect': isEdit}" *ngFor="let widget of dashboardWidgets">
        <tb-widget-container
          [gridsterItem]="gridsterItem"
          [widget]="widget"
          [dashboardWidgets]="dashboardWidgets"
          [dashboardStyle]="dashboardStyle"
          [backgroundImage]="backgroundImage"
          [isEdit]="isEdit"
          [isMobile]="isMobileSize"
          [isEditActionEnabled]="isEditActionEnabled"
          [isExportActionEnabled]="isExportActionEnabled"
          [isRemoveActionEnabled]="isRemoveActionEnabled"
          [disableWidgetInteraction]="disableWidgetInteraction"
          (widgetFullscreenChanged)="onWidgetFullscreenChanged($event)"
          (widgetComponentAction)="onWidgetComponentAction($event, widget)">
        </tb-widget-container>
      </gridster-item>
    </gridster>
  </div>
</div>
