<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form>
  <mat-toolbar color="primary">
    <h2 translate>layout.select</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset
      [disabled]="isLoading$ | async"
      fxLayout="column"
      fxLayoutGap="8px"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <button
          fxFlex
          mat-raised-button
          color="primary"
          type="button"
          class="tb-layout-button"
          (click)="selectLayout('main')"
        >
          <span translate>layout.main</span>
        </button>
        <button
          fxFlex
          mat-raised-button
          color="primary"
          type="button"
          class="tb-layout-button"
          (click)="selectLayout('right')"
        >
          <span translate>layout.right</span>
        </button>
      </div>
    </fieldset>
  </div>
</form>
