/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  .communication-config {
    border: 2px groove rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px;
    min-width: 0;
  }

  .scope-row {
    padding-bottom: 8px;
  }

  .required-text {
    margin: 16px 0
  }
}

:host ::ng-deep {
  .mat-form-field.spec {
    .mat-form-field-infix {
      width: 160px;
    }
  }
  .button-icon{
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}
