<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div fxFlex fxLayout="column" class="mapping-config">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
    fxFlex="100"
  >
    <div fxFlex fxLayout="row" fxLayoutGap="8px">
      <label fxFlex="26" class="tb-title no-padding" translate
        >device-profile.snmp.data-type</label
      >
      <label fxFlex="37" class="tb-title no-padding" translate
        >device-profile.snmp.data-key</label
      >
      <label fxFlex="37" class="tb-title no-padding" translate
        >device-profile.snmp.oid</label
      >
      <span style="min-width: 40px" [fxShow]="!disabled"></span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div
    *ngFor="
      let mappingConfig of mappingsConfigFormArray().controls;
      let $index = index;
      last as isLast
    "
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
    [formGroup]="mappingConfig"
    class="mapping-list"
  >
    <div fxFlex fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start">
      <mat-form-field fxFlex="26" floatLabel="always" hideRequiredMarker>
        <mat-label></mat-label>
        <mat-select formControlName="dataType" required>
          <mat-option *ngFor="let dataType of dataTypes" [value]="dataType">
            {{ dataTypesTranslationMap.get(dataType) | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="mappingConfig.get('dataType').hasError('required')">
          {{ "device-profile.snmp.data-type-required" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" hideRequiredMarker fxFlex="37">
        <mat-label></mat-label>
        <input matInput formControlName="key" required />
        <mat-error *ngIf="mappingConfig.get('key').hasError('required')">
          {{ "device-profile.snmp.data-key-required" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" hideRequiredMarker fxFlex="37">
        <mat-label></mat-label>
        <input matInput formControlName="oid" required />
        <mat-error *ngIf="mappingConfig.get('oid').hasError('required')">
          {{ "device-profile.snmp.oid-required" | translate }}
        </mat-error>
        <mat-error *ngIf="mappingConfig.get('oid').hasError('pattern')">
          {{ "device-profile.snmp.oid-pattern" | translate }}
        </mat-error>
      </mat-form-field>
      <button
        *ngIf="!disabled"
        mat-icon-button
        color="primary"
        type="button"
        (click)="removeMappingConfig($index)"
        matTooltip="{{ 'action.remove' | translate }}"
        matTooltipPosition="above"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!mappingsConfigFormArray().controls.length && !disabled">
    <span
      fxLayoutAlign="center center"
      class="tb-prompt required required-text"
      translate
      >device-profile.snmp.please-add-mapping-config</span
    >
  </div>
  <div *ngIf="!disabled">
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="addMappingConfig()"
    >
      <mat-icon class="button-icon">add_circle_outline</mat-icon>
      {{ "device-profile.snmp.add-mapping" | translate }}
    </button>
  </div>
</div>
