/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  .mat-chip.mat-standard-chip {
    overflow: hidden;

    .tb-attribute-chip {
      max-width: 100%;
      color: rgb(66, 66, 66);
      font-weight: normal;
      font-size: 16px;

      .tb-chip-drag-handle {
        cursor: move;

        mat-icon {
          pointer-events: none;
        }
      }

      .tb-chip-labels {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        min-width: 0;
        .tb-chip-label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .tb-chip-separator {
          white-space: pre;
        }
      }

      .mat-chip-remove.mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
        margin-left: 0;
        color: inherit;
        opacity: inherit;
      }
    }
  }
}

:host ::ng-deep {
  .mat-form-field-flex {
    padding-top: 0;
    .mat-form-field-infix {
      border-top: 0;
    }
  }
}
