<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form [formGroup]="legendConfigForm">
  <div fxLayout.xs="column" fxLayoutAlign.xs="center" fxLayout="row" fxLayoutAlign="start center"
       fxLayoutGap="8px">
    <mat-form-field fxFlex>
      <mat-label translate>legend.direction</mat-label>
      <mat-select matInput formControlName="direction">
        <mat-option *ngFor="let direction of legendDirections" [value]="direction">
          {{ legendDirectionTranslations.get(legendDirection[direction]) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label translate>legend.position</mat-label>
      <mat-select matInput formControlName="position">
        <mat-option *ngFor="let pos of legendPositions" [value]="pos"
                    [disabled]="legendConfigForm.get('direction').value === legendDirection.row &&
                                (pos === legendPosition.left || pos === legendPosition.right)">
          {{ legendPositionTranslations.get(legendPosition[pos]) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout.xs="column" fxLayoutAlign.xs="center" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="8px">
    <mat-checkbox formControlName="showMin" fxFlex="48">
      {{ 'legend.show-min' | translate }}
    </mat-checkbox>
    <mat-checkbox formControlName="showMax" fxFlex="48">
      {{ 'legend.show-max' | translate }}
    </mat-checkbox>
    <mat-checkbox formControlName="showAvg" fxFlex="48">
      {{ 'legend.show-avg' | translate }}
    </mat-checkbox>
    <mat-checkbox formControlName="showTotal" fxFlex="48">
      {{ 'legend.show-total' | translate }}
    </mat-checkbox>
    <mat-checkbox formControlName="sortDataKeys" fxFlex="48">
      {{ 'legend.sort-legend' | translate }}
    </mat-checkbox>
  </div>
</form>
