<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="tb-absolute-fill" [fxLayout]="legendContainerLayoutType" tb-toast
     toastTarget="{{ toastTargetId }}">
  <tb-legend *ngIf="displayLegend && isLegendFirst"
             [ngStyle]="legendStyle"
             [legendConfig]="legendConfig"
             [legendData]="legendData"
             (legendKeyHiddenChange)="onLegendKeyHiddenChange($event)">
  </tb-legend>
  <div fxFlex id="widget-container">
    <ng-container #widgetContent></ng-container>
  </div>
  <tb-legend *ngIf="displayLegend && !isLegendFirst"
             [ngStyle]="legendStyle"
             [legendConfig]="legendConfig"
             [legendData]="legendData"
             (legendKeyHiddenChange)="onLegendKeyHiddenChange($event)">
  </tb-legend>
</div>
<div class="tb-absolute-fill tb-widget-error" *ngIf="widgetErrorData">
  <span>Widget Error: {{ widgetErrorData.name + ": " + widgetErrorData.message}}</span>
</div>
<div class="tb-absolute-fill tb-widget-no-data" *ngIf="displayNoData">
  <span fxLayoutAlign="center center"
        style="display: flex;"
        class="tb-absolute-fill">{{ noDataDisplayMessageText }}</span>
</div>
<div class="tb-absolute-fill tb-widget-loading" [fxShow]="loadingData" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner color="accent" md-mode="indeterminate" diameter="40"></mat-spinner>
</div>
