/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {

}

tb-widget.tb-widget {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;
  outline: none;

  transition: all .2s ease-in-out;
}

div.tb-widget {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;
  outline: none;

  transition: all .2s ease-in-out;

  .tb-widget-title {
    max-height: 65px;
    padding-top: 5px;
    padding-left: 5px;
    overflow: hidden;

    tb-timewindow {
      font-size: 14px;
      opacity: .85;
      margin: 0;
    }

    .title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 24px;
      letter-spacing: .01em;
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      &.single-row{
        -webkit-line-clamp: 1;
      }
    }
  }

  .tb-widget-actions {
    z-index: 19;
    margin: 5px 0 0;

    &-absolute {
      position: absolute;
      top: 3px;
      right: 8px;
      z-index: 150;
    }

    button.mat-icon-button {
      width: 32px;
      min-width: 32px;
      height: 32px;
      min-height: 32px;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 20px;

      mat-icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
        min-height: 20px;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  .tb-widget-content {
    &.tb-no-interaction {
      pointer-events: none;
    }
    tb-widget {
      position: relative;
      width: 100%;
    }
  }

  &.tb-highlighted {
    border: 1px solid #039be5;
    box-shadow: 0 0 20px #039be5;
  }

  &.tb-not-highlighted {
    opacity: .5;
  }
}
