<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div #tbWidgetElement tb-fullscreen [fullscreen]="widget.isFullscreen"
     [fullscreenBackgroundStyle]="dashboardStyle"
     [fullscreenBackgroundImage]="backgroundImage"
     (fullscreenChanged)="onFullscreenChanged($event)"
     fxLayout="column"
     class="tb-widget"
     [ngClass]="{
                'tb-highlighted': isHighlighted(widget),
                'tb-not-highlighted': isNotHighlighted(widget),
                'mat-elevation-z4': widget.dropShadow,
                'tb-has-timewindow': widget.hasTimewindow
             }"
     [ngStyle]="widget.style"
     (mousedown)="onMouseDown($event)"
     (click)="onClicked($event)"
     (contextmenu)="onContextMenu($event)">
  <div *ngIf="!!widgetComponent.widgetContext?.inited" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="tb-widget-title" fxLayout="column" fxLayoutAlign="center start" *ngIf="widget.showWidgetTitlePanel">
              <span *ngIf="widget.showTitle"
                    [ngClass]="{'single-row': widget.hasTimewindow}"
                    [ngStyle]="widget.titleStyle"
                    [matTooltip]="widget.titleTooltip"
                    matTooltipClass="tb-tooltip-multiline"
                    matTooltipPosition="above"
                    class="mat-subheading-2 title">
                <mat-icon *ngIf="widget.showTitleIcon" [ngStyle]="widget.titleIconStyle">{{widget.titleIcon}}</mat-icon>
                {{widget.customTranslatedTitle}}
              </span>
      <tb-timewindow *ngIf="widget.hasTimewindow"
                     aggregation="{{widget.hasAggregation}}"
                     timezone="true"
                     [isEdit]="isEdit"
                     [(ngModel)]="widgetComponent.widget.config.timewindow"
                     (ngModelChange)="widgetComponent.onTimewindowChanged($event)">
      </tb-timewindow>
    </div>
    <div *ngIf="widget.showWidgetActions"
         class="tb-widget-actions"
         [ngClass]="{'tb-widget-actions-absolute': !(widget.showWidgetTitlePanel&&(widget.showTitle||widget.hasAggregation))}"
         fxLayout="row"
         fxLayoutAlign="start center"
         (mousedown)="$event.stopPropagation()">
      <button mat-button mat-icon-button *ngFor="let action of widget.customHeaderActions"
              [fxShow]="!isEdit"
              (click)="action.onAction($event)"
              matTooltip="{{ action.displayName }}"
              matTooltipPosition="above">
        <mat-icon>{{ action.icon }}</mat-icon>
      </button>
      <button mat-button mat-icon-button *ngFor="let action of widget.widgetActions"
              [fxShow]="!isEdit && action.show"
              (click)="action.onAction($event)"
              matTooltip="{{ action.name | translate }}"
              matTooltipPosition="above">
        <mat-icon>{{ action.icon }}</mat-icon>
      </button>
      <button mat-button mat-icon-button
              [fxShow]="!isEdit && widget.enableFullscreen"
              (click)="$event.stopPropagation(); widget.isFullscreen = !widget.isFullscreen"
              matTooltip="{{(widget.isFullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
              matTooltipPosition="above">
        <mat-icon>{{ widget.isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
      </button>
      <button mat-button mat-icon-button
              [fxShow]="isEditActionEnabled && !widget.isFullscreen"
              (click)="onEdit($event)"
              matTooltip="{{ 'widget.edit' | translate }}"
              matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button mat-icon-button
              [fxShow]="isExportActionEnabled && !widget.isFullscreen"
              (click)="onExport($event)"
              matTooltip="{{ 'widget.export' | translate }}"
              matTooltipPosition="above">
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-button mat-icon-button
              [fxShow]="isRemoveActionEnabled && !widget.isFullscreen"
              (click)="onRemove($event);"
              matTooltip="{{ 'widget.remove' | translate }}"
              matTooltipPosition="above">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex fxLayout="column" class="tb-widget-content" [ngClass]="{'tb-no-interaction': disableWidgetInteraction}">
    <tb-widget fxFlex
               #widgetComponent
               [dashboardWidget]="widget"
               [isEdit]="isEdit"
               [isMobile]="isMobile">
    </tb-widget>
  </div>
</div>
