/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.tb-custom-action-editor-container {

  mat-form-field.resource-field {
    max-height: 40px;
    margin: 10px 0 0;
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-flex {
        max-height: 40px;
        .mat-form-field-infix {
          border: 0;
        }
      }
      .mat-form-field-underline {
        bottom: 0;
      }
    }
  }

  .html-panel,
  .css-panel {
    width: 100%;
    min-width: 200px;
    height: 100%;
    min-height: 200px;
  }

  div.tb-editor-area-title-panel {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 5;
    font-size: .8rem;
    font-weight: 500;

    label {
      padding: 4px;
      color: #00acc1;
      background: rgba(220, 220, 220, .35);
      border-radius: 5px;
      &:not(:last-child) {
        margin-right: 4px;
      }
    }

    button.mat-button, button.mat-icon-button, button.mat-icon-button.tb-mat-32 {
      align-items: center;
      vertical-align: middle;
      min-width: 32px;
      min-height: 15px;
      padding: 4px;
      margin: 0;
      font-size: .8rem;
      line-height: 15px;
      color: #7b7b7b;
      background: rgba(220, 220, 220, .35);
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

}
