<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<mat-card class="settings-card">
  <mat-toolbar class="details-toolbar">
    <div class="mat-toolbar-tools" fxLayout="row" fxLayoutAlign="start center">
      <div class="tb-details-title-header" fxLayout="column" fxLayoutAlign="center start">
        <div class="tb-details-title tb-ellipsis">{{ headerTitle }}</div>
        <div class="tb-details-subtitle tb-ellipsis">{{ headerSubtitle }}</div>
      </div>
      <div class="tb-help" [tb-help]="helpLinkId()"></div>
      <span fxFlex></span>
      <section *ngIf="!isReadOnly" fxLayout="row" class="tb-header-button" fxLayoutGap="8px">
        <button [disabled]="(isLoading$ | async) || detailsForm.invalid || !detailsForm.dirty"
                mat-fab
                matTooltip="{{ 'action.apply-changes' | translate }}"
                matTooltipPosition="above"
                color="accent" class="tb-btn-header"
                [ngClass]="{'tb-hide': !isEdit}"
                (click)="onApplyDetails()">
          <mat-icon class="material-icons">done</mat-icon>
        </button>
        <button [disabled]="(isLoading$ | async)"
                mat-fab
                matTooltip="{{ 'action.decline-changes' | translate }}"
                matTooltipPosition="above"
                color="accent" class="tb-btn-header"
                (click)="onToggleDetailsEditMode()">
          <mat-icon class="material-icons">{{isEdit ? 'close' : 'edit'}}</mat-icon>
        </button>
      </section>
    </div>
  </mat-toolbar>
  <mat-card-content fxFlex="100">
    <mat-tab-group class="tb-absolute-fill" [ngClass]="{'tb-headless': hideDetailsTabs()}" [(selectedIndex)]="selectedTab" fxFill>
      <mat-tab label="{{ 'details.details' | translate }}">
        <tb-anchor #entityDetailsForm></tb-anchor>
      </mat-tab>
      <tb-anchor #entityTabs></tb-anchor>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

