/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep {
  tb-details-panel {
    > .mat-content {
      > .mat-tab-group {
        > .mat-tab-body-wrapper {
          position: absolute;
          top: 49px;
          left: 0;
          right: 0;
          bottom: 0;
        }
        > .mat-tab-header {
          .mat-tab-label {
            min-width: 40px;
          }
        }
      }
    }
  }
}
