<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form
  [formGroup]="entityAliasFormGroup"
  (ngSubmit)="save()"
  style="min-width: 480px"
>
  <mat-toolbar color="primary">
    <h2>{{ (isAdd ? "alias.add" : "alias.edit") | translate }}</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div fxFlex fxLayout="column">
        <div fxLayout="row">
          <mat-form-field fxFlex class="mat-block">
            <mat-label translate>alias.name</mat-label>
            <input matInput formControlName="alias" required />
            <mat-error
              *ngIf="entityAliasFormGroup.get('alias').hasError('required')"
            >
              {{ "alias.name-required" | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                entityAliasFormGroup.get('alias').hasError('duplicateAliasName')
              "
            >
              {{ "alias.duplicate-alias" | translate }}
            </mat-error>
          </mat-form-field>
          <section
            class="tb-resolve-multiple-switch"
            fxLayout="column"
            fxLayoutAlign="start center"
          >
            <label class="tb-small resolve-multiple-label" translate
              >alias.resolve-multiple</label
            >
            <mat-slide-toggle
              class="resolve-multiple-switch"
              formControlName="resolveMultiple"
            >
            </mat-slide-toggle>
          </section>
        </div>
        <tb-entity-filter
          formControlName="filter"
          [resolveMultiple]="entityAliasFormGroup.get('resolveMultiple').value"
          (resolveMultipleChanged)="
            entityAliasFormGroup.get('resolveMultiple').patchValue($event)
          "
          [allowedEntityTypes]="allowedEntityTypes"
        >
        </tb-entity-filter>
        <tb-error
          [error]="
            entityAliasFormGroup.hasError('noEntityMatched')
              ? translate.instant('alias.entity-filter-no-entity-matched')
              : ''
          "
        ></tb-error>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="isLoading$ | async"
      (click)="cancel()"
      cdkFocusInitial
    >
      {{ "action.cancel" | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="
        (isLoading$ | async) ||
        entityAliasFormGroup.invalid ||
        !entityAliasFormGroup.dirty
      "
    >
      {{ (isAdd ? "action.add" : "action.save") | translate }}
    </button>
  </div>
</form>
