/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../../../scss/constants";

:host-context(.tb-fullscreen-dialog .mat-dialog-container) {
  @media #{$mat-lt-sm} {
    .mat-dialog-content {
      max-height: 75vh;
    }
  }

  .invisible{
    visibility: hidden;
  }
}

:host ::ng-deep {
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;

    .mat-stepper-horizontal {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      @media #{$mat-lt-sm} {
        .mat-step-label {
          white-space: normal;
          overflow: visible;
          .mat-step-text-label {
            overflow: visible;
          }
        }
      }
      .mat-horizontal-content-container {
        height: 530px;
        max-height: 100%;
        width: 100%;;
        overflow-y: auto;
        @media #{$mat-gt-sm} {
          min-width: 800px;
        }
      }
      .mat-horizontal-stepper-content[aria-expanded=true] {
        height: 100%;
        form {
          height: 100%;
        }
      }

      tb-device-profile-autocomplete, tb-queue-type-list{
        .mat-form-field-wrapper{
          width: 180px !important;
        }
      }
    }
  }
}
