/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../../scss/constants";

:host {
  width: 100%;
  height: 100%;
  form,
  fieldset {
    height: 100%;
  }

  .mat-content {
    overflow: hidden;
    background-color: #fff;
  }

  .mat-padding {
    padding: 0 16px;
  }

  .hide-label {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  tb-timeinterval[ng-reflect-fx-show="true"] {
    margin-bottom: -16px;
  }

  .limit-slider-container {
    .limit-slider-value {
      margin-left: 16px;
      min-width: 25px;
      max-width: 80px;
    }
    mat-form-field input[type=number] {
      text-align: center;
    }
  }

  @media #{$mat-gt-sm} {
    .history-time-input {
      min-width: 364px;
    }
    .limit-slider-container {
      > label {
        margin-right: 16px;
        width: min-content;
        max-width: 40%;
      }
    }
  }

}

:host ::ng-deep {
  mat-radio-button {
    display: block;
    margin-bottom: 16px;
    .mat-radio-label {
      width: 100%;
      align-items: start;
      .mat-radio-label-content {
        width: 100%;
      }
    }
  }
  .mat-slider-horizontal .mat-slider-thumb-label {
    width: 38px;
    height: 38px;
    top: -46px;
    right: -19px;
  }
}
