/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import '../../../../scss/constants';

:host {
  min-width: 355px;

  .advanced-switch {
    margin-bottom: 16px;
  }

  .advanced-label {
    margin: 5px 0;
  }

  .hide-label {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .interval-section {
    min-height: 66px;
    .interval-label {
      margin-bottom: 7px;
      margin-top: -1px;
    }
  }

  @media #{$mat-xs} {
    min-width: 0;
    width: 100%;
  }
}

:host ::ng-deep {
  .number-input {
    .mat-form-field-infix {
      width: 70px;
    }
  }
}
