<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form [formGroup]="persistentFormGroup" style="min-width: 480px">
  <mat-toolbar color="primary">
    <h2>{{ persistentFormGroup.get("rpcId").value }}</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="close()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div style="height: 4px" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="6px">
        <mat-form-field fxFlex class="mat-block">
          <mat-label translate>widgets.persistent-table.created-time</mat-label>
          <input matInput formControlName="createdTime" readonly />
        </mat-form-field>
        <mat-form-field fxFlex class="mat-block">
          <mat-label translate
            >widgets.persistent-table.expiration-time</mat-label
          >
          <input matInput formControlName="expirationTime" readonly />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="6px">
        <mat-form-field fxFlex class="mat-block">
          <mat-label translate>widgets.persistent-table.message-type</mat-label>
          <input matInput formControlName="messageType" readonly />
        </mat-form-field>
        <mat-form-field fxFlex class="mat-block">
          <mat-label translate>widgets.persistent-table.status</mat-label>
          <input
            matInput
            formControlName="status"
            readonly
            [ngStyle]="{
              fontWeight: 'bold',
              color: rpcStatusColorsMap.get(data.persistentRequest.status)
            }"
          />
        </mat-form-field>
        <mat-form-field fxFlex class="mat-block">
          <mat-label translate>widgets.persistent-table.method</mat-label>
          <input matInput formControlName="method" readonly />
        </mat-form-field>
        <mat-form-field
          fxFlex
          class="mat-block"
          *ngIf="persistentFormGroup.get('retries').value"
        >
          <mat-label translate>widgets.persistent-table.retries</mat-label>
          <input matInput formControlName="retries" readonly />
        </mat-form-field>
      </div>

      <mat-accordion class="rpc-dialog" multi>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "widgets.persistent-table.response" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <tb-json-object-view
            formControlName="response"
            autoHeight
          ></tb-json-object-view>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "widgets.persistent-table.params" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <tb-json-object-view
              formControlName="params"
              autoHeight
            ></tb-json-object-view>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "widgets.persistent-table.additional-info" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <tb-json-object-view formControlName="additionalInfo" autoHeight>
            </tb-json-object-view>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <button
      mat-raised-button
      *ngIf="allowDelete"
      color="primary"
      type="button"
      (click)="deleteRpcRequest()"
      [disabled]="isLoading$ | async"
    >
      {{ "widgets.persistent-table.delete" | translate }}
    </button>
    <span fxFlex></span>
    <div fxLayout="row" fxLayoutGap="8px">
      <button
        mat-button
        color="primary"
        type="button"
        [disabled]="isLoading$ | async"
        (click)="close()"
        cdkFocusInitial
      >
        {{ "action.close" | translate }}
      </button>
    </div>
  </div>
</form>
