/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host ::ng-deep {
  .rpc-dialog {
    .mat-expansion-panel-body {
      padding-bottom: 0 !important;
    }

    .tb-json-object-panel {
      margin: 0 0 16px 0;
    }
  }

  .tb-audit-log-response-data {
    width: 100%;
    min-width: 400px;
    height: 100%;
    min-height: 100px;
    border: 1px solid #c0c0c0;
  }
}
