<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form style="width: 800px">
  <mat-toolbar color="primary">
    <h2 translate>widget.select-widget-type</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div style="height: 4px" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div
        fxLayout="column"
        fxLayoutGap="16px"
        fxLayout.gt-sm="row"
        fxLayoutAlign="center center"
      >
        <button
          *ngFor="let type of allWidgetTypes"
          class="tb-card-button"
          mat-raised-button
          color="primary"
          type="button"
          (click)="typeSelected(widgetTypes[type])"
        >
          <mat-icon
            *ngIf="
              !widgetTypesDataMap.get(widgetTypes[type]).isMdiIcon;
              else mdiIconBlock
            "
            class="tb-mat-96"
          >
            {{ widgetTypesDataMap.get(widgetTypes[type]).icon }}
          </mat-icon>
          <ng-template #mdiIconBlock>
            <mat-icon
              class="tb-mat-96"
              [svgIcon]="widgetTypesDataMap.get(widgetTypes[type]).icon"
            >
            </mat-icon>
          </ng-template>
          <span translate>{{
            widgetTypesDataMap.get(widgetTypes[type]).name
          }}</span>
        </button>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="isLoading$ | async"
      (click)="cancel()"
      cdkFocusInitial
    >
      {{ "action.cancel" | translate }}
    </button>
  </div>
</form>
