/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host ::ng-deep {
  button.tb-card-button {
    width: 100%;
    height: 100%;
    max-width: 240px;
    .mat-button-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      mat-icon {
        margin: auto;
      }
      span {
        height: 18px;
        min-height: 18px;
        max-height: 18px;
        margin: 0 0 20px 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        white-space: normal;
      }
    }
    &.mat-raised-button.mat-primary {
      .mat-ripple-element {
        opacity: 0.3;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
