/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import '../../../../../scss/constants';

$edit-toolbar-height: 40px !default;

tb-widget-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.tb-editor {
  .tb-split {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }

  mat-form-field.resource-field {
    max-height: 40px;
    margin: 10px 0 0;
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-flex {
        max-height: 40px;
        .mat-form-field-infix {
          border: 0;
        }
      }
      .mat-form-field-underline {
        bottom: 0;
      }
    }
  }

  .ace_editor {
    font-size: 14px !important;
  }

  .tb-content {
    border: 1px solid #c0c0c0;
  }

  .gutter {
    background-color: transparent;

    background-repeat: no-repeat;
    background-position: 50%;

    &.gutter-horizontal {
      cursor: col-resize;
      background-image: url("../../../../../assets/split.js/grips/vertical.png");
    }

    &.gutter-vertical {
      cursor: row-resize;
      background-image: url("../../../../../assets/split.js/grips/horizontal.png");
    }
  }

  .tb-split.tb-split-horizontal,
  .gutter.gutter-horizontal {
    float: left;
    height: 100%;
  }

  .tb-split.tb-split-vertical {
    display: flex;

    .tb-split.tb-content {
      height: 100%;
    }
  }

  .container{
    width: 100%;
    height: 100%;
  }
}

.tb-split-vertical {
  mat-tab-group {
    .mat-tab-body-wrapper {
      height: calc(100% - 49px);

      mat-tab-body {
        height: 100%;

        & > div {
          height: 100%;
        }
      }
    }
  }
}

div.tb-editor-area-title-panel {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 5;
  font-size: .8rem;
  font-weight: 500;

  & > * {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  label {
    padding: 4px;
    color: #00acc1;
    background: rgba(220, 220, 220, .35);
    border-radius: 5px;
  }

  button.mat-button, button.mat-icon-button, button.mat-icon-button.tb-mat-32 {
    align-items: center;
    vertical-align: middle;
    min-width: 32px;
    min-height: 15px;
    padding: 4px;
    font-size: .8rem;
    line-height: 15px;
    background: rgba(220, 220, 220, .35);
    &:not(.tb-help-popup-button) {
      color: #7b7b7b;
    }
  }
  .tb-help-popup-button-loading {
    background: #f3f3f3;
  }
}

.tb-resize-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .ace_editor {
    height: 100%;
  }
}

mat-toolbar.tb-edit-toolbar {

  min-height: $edit-toolbar-height !important;
  max-height: $edit-toolbar-height !important;

  button.mat-button-base:not(.mat-icon-button) {
    font-size: 12px;
    line-height: 28px;
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    mat-icon {
      height: 20px;
      width: 20px;
      font-size: 20px;
    }
  }

  mat-form-field {
    input, mat-select {
      font-size: 1.1rem;
      font-weight: 400;
      letter-spacing: .005em;
    }
    div.mat-form-field-infix {
      padding-bottom: 5px;
    }
    &.tb-widget-title {
      min-width: 250px;
    }
  }

  @media #{$mat-lt-lg} {
    mat-form-field.tb-widget-title {
      min-width: 0;
    }
  }
}
