<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="tb-details-buttons" fxLayout.xs="column">
  <button
    mat-raised-button
    color="primary"
    [disabled]="isLoading$ | async"
    (click)="onEntityAction($event, 'open')"
    [fxShow]="!isEdit"
  >
    {{ "widgets-bundle.open-widgets-bundle" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="isLoading$ | async"
    (click)="onEntityAction($event, 'export')"
    [fxShow]="!isEdit"
  >
    {{ "widgets-bundle.export" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="isLoading$ | async"
    (click)="onEntityAction($event, 'delete')"
    [fxShow]="!hideDelete() && !isEdit"
  >
    {{ "widgets-bundle.delete" | translate }}
  </button>
</div>
<div class="mat-padding" fxLayout="column">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-label translate>widgets-bundle.title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="entityForm.get('title').hasError('required')">
          {{ "widgets-bundle.title-required" | translate }}
        </mat-error>
        <mat-error *ngIf="entityForm.get('title').hasError('maxlength')">
          {{ "widgets-bundle.title-max-length" | translate }}
        </mat-error>
      </mat-form-field>
      <tb-image-input
        fxFlex
        label="{{ 'widgets-bundle.image-preview' | translate }}"
        maxSizeByte="524288"
        formControlName="image"
      >
      </tb-image-input>
      <mat-form-field class="mat-block">
        <mat-label translate>widgets-bundle.description</mat-label>
        <textarea
          matInput
          formControlName="description"
          rows="2"
          maxlength="255"
          #descriptionInput
        ></textarea>
        <mat-hint align="end"
          >{{ descriptionInput.value?.length || 0 }}/255</mat-hint
        >
      </mat-form-field>
    </fieldset>
  </form>
</div>
