<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<mat-form-field [formGroup]="linksFormGroup" style="width: 100%;">
  <mat-label translate>rulenode.link-labels</mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let label of labels"
      [selectable]="!disabled"
      [removable]="!disabled"
      (removed)="remove(label)">
      {{label.name}}
      <mat-icon matChipRemove *ngIf="!disabled">close</mat-icon>
    </mat-chip>
    <input matInput type="text" placeholder="{{ !disabled ? ('rulenode.link-label' | translate) : '' }}"
           style="max-width: 200px;"
           #labelInput
           (focusin)="onFocus()"
           formControlName="label"
           matAutocompleteOrigin
           #origin="matAutocompleteOrigin"
           [matAutocompleteConnectedTo]="origin"
           [matAutocomplete]="labelAutocomplete"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #labelAutocomplete="matAutocomplete"
                    class="tb-autocomplete"
                    (optionSelected)="selected($event)"
                    [displayWith]="displayLabelFn">
    <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
      <span [innerHTML]="label.name | highlight:searchText"></span>
    </mat-option>
    <mat-option *ngIf="(filteredLabels | async)?.length === 0" [value]="null" class="tb-not-found">
      <div class="tb-not-found-content" (click)="$event.stopPropagation()">
        <div *ngIf="!textIsNotEmpty(searchText); else searchNotEmpty">
          <span translate>rulenode.no-link-labels-found</span>
        </div>
        <ng-template #searchNotEmpty>
                <span>
                  {{ translate.get('rulenode.no-link-label-matching',
                  {label: truncate.transform(searchText, true, 6, &apos;...&apos;)}) | async }}
                </span>
        </ng-template>
        <span *ngIf="allowCustom">
                <a translate (click)="createLinkLabel($event, searchText)">rulenode.create-new-link-label</a>
              </span>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
