/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@mixin rule-node-colors {
  &.tb-filter-type {
    background-color: #f1e861;
  }

  &.tb-enrichment-type {
    background-color: #cdf14e;
  }

  &.tb-transformation-type {
    background-color: #79cef1;
  }

  &.tb-action-type {
    background-color: #f1928f;
  }

  &.tb-external-type {
    background-color: #fbc766;
  }

  &.tb-flow-type {
    background-color: #d6c4f1;
  }

  &.tb-unknown-type {
    background-color: #f16c29;
  }

}
