<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="trip-animation-widget">
  <div
    class="trip-animation-label-container"
    *ngIf="settings.showLabel"
    [innerHTML]="label"
  ></div>
  <div class="trip-animation-container" fxLayout="column">
    <div class="map" #map></div>
    <div class="trip-animation-info-panel" fxLayout="row">
      <button
        class="tooltip-button"
        mat-mini-fab
        color="primary"
        aria-label="tooltip"
        *ngIf="settings.showTooltip"
        (click)="visibleTooltip = !visibleTooltip"
      >
        <mat-icon>info_outline</mat-icon>
      </button>
    </div>
    <div
      class="trip-animation-tooltip md-whiteframe-z4"
      fxLayout="column"
      [ngClass]="{ 'trip-animation-tooltip-hidden': !visibleTooltip }"
      [ngStyle]="{
        'background-color': settings.tooltipColor,
        opacity: settings.tooltipOpacity,
        color: settings.tooltipFontColor
      }"
    >
      <div
        *ngFor="let mainTooltip of mainTooltips"
        [innerHTML]="mainTooltip"
        style="padding: 10px 0"
      ></div>
    </div>
  </div>
  <tb-history-selector
    *ngIf="historicalData"
    [settings]="settings"
    [minTime]="minTime"
    [maxTime]="maxTime"
    [step]="normalizationStep"
    [anchors]="anchors"
    [useAnchors]="useAnchors"
    (timeUpdated)="timeUpdated($event)"
  ></tb-history-selector>
</div>
