<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form [formGroup]="changePassword" (ngSubmit)="onChangePassword()">
  <mat-toolbar fxLayout="row" color="primary">
    <h2 translate>profile.change-password</h2>
    <span fxFlex></span>
    <button mat-icon-button [mat-dialog-close]="false" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div style="height: 4px" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <mat-form-field class="mat-block">
      <mat-label translate>profile.current-password</mat-label>
      <input matInput type="password" formControlName="currentPassword" />
      <mat-icon class="material-icons" matPrefix>lock</mat-icon>
      <tb-toggle-password matSuffix></tb-toggle-password>
    </mat-form-field>
    <mat-form-field class="mat-block">
      <mat-label translate>login.new-password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-icon class="material-icons" matPrefix>lock</mat-icon>
      <tb-toggle-password matSuffix></tb-toggle-password>
    </mat-form-field>
    <mat-form-field class="mat-block">
      <mat-label translate>login.new-password-again</mat-label>
      <input matInput type="password" formControlName="newPassword2" />
      <mat-icon class="material-icons" matPrefix>lock</mat-icon>
      <tb-toggle-password matSuffix></tb-toggle-password>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="isLoading$ | async"
      [mat-dialog-close]="false"
      cdkFocusInitial
    >
      {{ "action.cancel" | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="(isLoading$ | async) || changePassword.invalid"
    >
      {{ "profile.change-password" | translate }}
    </button>
  </div>
</form>
