/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../../../scss/constants";

:host {
  mat-card.profile-card {
    margin: 8px;
    @media #{$mat-gt-sm} {
      width: 60%;
    }
    .mat-headline {
      margin: 0;
    }
    .profile-email {
      font-size: 16px;
      font-weight: 400;
    }
    .mat-subheader {
      line-height: 24px;
      color: rgba(0,0,0,0.54);
      font-size: 14px;
      font-weight: 400;
    }
    .profile-last-login-ts {
      font-size: 16px;
      font-weight: 400;
    }
    .profile-btn-subtext {
      opacity: 0.7;
      padding: 10px;
    }
    .tb-home-dashboard {
      tb-dashboard-autocomplete {
        @media #{$mat-gt-sm} {
          padding-right: 12px;
        }

        @media #{$mat-lt-md} {
          padding-bottom: 12px;
        }
      }
      mat-checkbox {
        @media #{$mat-gt-sm} {
          margin-top: 16px;
        }
      }
    }
  }
}
