/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.tb-node-script-test-dialog {
  width: 100%;
  height: 100%;

  .tb-split {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ace_editor {
    font-size: 14px !important;
  }

  .tb-content {
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid #c0c0c0;
  }
  .gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url("../../../../assets/split.js/grips/vertical.png");
  }

  .gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url("../../../../assets/split.js/grips/horizontal.png");
  }

  .tb-split.tb-split-horizontal,
  .gutter.gutter-horizontal {
    float: left;
    height: 100%;
  }

  .tb-split.tb-split-vertical {
    display: flex;

    .tb-split.tb-content {
      height: 100%;
    }
  }

  div.tb-editor-area-title-panel {
    position: absolute;
    top: 13px;
    right: 40px;
    z-index: 5;
    font-size: .8rem;
    font-weight: 500;

    &.tb-js-function {
      right: 80px;
      &.tb-js-function-help {
        right: 116px;
      }
    }

    label {
      padding: 4px;
      color: #00acc1;
      background: rgba(220, 220, 220, .35);
      border-radius: 5px;
    }

    .mat-button {
      min-width: 32px;
      min-height: 15px;
      padding: 4px;
      margin: 0;
      font-size: .8rem;
      line-height: 15px;
      color: #7b7b7b;
      background: rgba(220, 220, 220, .35);
    }
  }

  .tb-resize-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .ace_editor {
      height: 100%;
    }
  }
}
