<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<mat-form-field [formGroup]="selectDeviceProfileFormGroup" class="mat-block">
  <input matInput type="text" placeholder="{{ 'device-profile.device-profile' | translate }}"
         #deviceProfileInput
         formControlName="deviceProfile"
         (focusin)="onFocus()"
         [required]="required"
         (keydown)="deviceProfileEnter($event)"
         (keypress)="deviceProfileEnter($event)"
         [matAutocomplete]="deviceProfileAutocomplete"
         [fxShow]="!showDetailsPageLink || !disabled || !selectDeviceProfileFormGroup.get('deviceProfile').value">
  <a *ngIf="showDetailsPageLink && selectDeviceProfileFormGroup.get('deviceProfile').value && disabled" aria-label="Open tenant profile" [routerLink]=deviceProfileURL>
    {{ displayDeviceProfileFn(selectDeviceProfileFormGroup.get('deviceProfile').value) }}
  </a>
  <button *ngIf="selectDeviceProfileFormGroup.get('deviceProfile').value && !disabled"
          type="button"
          matSuffix mat-button mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <button *ngIf="selectDeviceProfileFormGroup.get('deviceProfile').value && !disabled && editProfileEnabled"
          type="button"
          matSuffix mat-button mat-icon-button aria-label="Edit"
          matTooltip="{{ 'device-profile.edit' | translate }}"
          matTooltipPosition="above"
          (click)="editDeviceProfile($event)">
    <mat-icon class="material-icons">edit</mat-icon>
  </button>
  <mat-autocomplete
    class="tb-autocomplete"
    (closed)="onPanelClosed()"
    #deviceProfileAutocomplete="matAutocomplete"
    [displayWith]="displayDeviceProfileFn">
    <mat-option *ngFor="let deviceProfile of filteredDeviceProfiles | async" [value]="deviceProfile">
      <span [innerHTML]="deviceProfile.name | highlight:searchText"></span>
    </mat-option>
    <mat-option *ngIf="!(filteredDeviceProfiles | async)?.length" [value]="null" class="tb-not-found">
      <div class="tb-not-found-content" (click)="$event.stopPropagation()">
        <div *ngIf="!textIsNotEmpty(searchText) || !addNewProfile; else searchNotEmpty">
          <span translate>device-profile.no-device-profiles-found</span>
        </div>
        <ng-template #searchNotEmpty>
          <span>
              {{ translate.get('device-profile.no-device-profiles-matching',
            {entity: truncate.transform(searchText, true, 6, &apos;...&apos;)}) | async }}
          </span>
          <span>
            <a translate (click)="createDeviceProfile($event, searchText)">device-profile.create-new-device-profile</a>
          </span>
        </ng-template>
      </div>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="selectDeviceProfileFormGroup.get('deviceProfile').hasError('required')">
    {{ 'device-profile.device-profile-required' | translate }}
  </mat-error>
  <mat-hint *ngIf="hint && !disabled">{{ hint | translate }}</mat-hint>
</mat-form-field>
