/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import '../../../../../scss/constants';

:host {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  min-width: 150px;
}

:host ::ng-deep {
  tb-device-profile-autocomplete {
    width: 100%;

    mat-form-field {
      font-size: 16px;

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-underline {
        bottom: 0;
      }

      @media #{$mat-xs} {
        width: 100%;

        .mat-form-field-infix {
          width: auto !important;
        }
      }
    }
  }
}
