<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<mat-toolbar fxLayout="row" color="primary">
  <h2 translate>{{ title }}</h2>
  <span fxFlex></span>
  <button mat-button mat-icon-button [mat-dialog-close]="false" type="button">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content fxLayout="column">
  <div #eventContentEditor class="tb-event-content"></div>
</div>
<div mat-dialog-actions fxLayout="row">
  <span fxFlex></span>
  <button
    mat-button
    color="primary"
    type="button"
    [disabled]="isLoading$ | async"
    [mat-dialog-close]="false"
    cdkFocusInitial
  >
    {{ "action.close" | translate }}
  </button>
</div>
