/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  overflow: hidden;

  .entity-state-controller {
    .state-divider {
      padding: 0 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      pointer-events: none;
    }

    .state-entry {
      pointer-events: all;
      overflow: hidden;
      font-size: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
      outline: none;
    }

    mat-select {
      margin: 0;
    }
  }
}

:host ::ng-deep {
  mat-select {
    .mat-select-value {
      max-width: 200px;
      .mat-select-value-text {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
