<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form
  [formGroup]="statesFormGroup"
  (ngSubmit)="save()"
  style="min-width: 480px"
>
  <mat-toolbar color="primary">
    <h2 translate>dashboard.manage-states</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button (click)="cancel()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div class="manage-dashboard-states">
        <div class="tb-entity-table">
          <div fxLayout="column" class="tb-entity-table-content">
            <mat-toolbar class="mat-table-toolbar" [fxShow]="!textSearchMode">
              <div class="mat-toolbar-tools">
                <span class="tb-entity-table-title" translate
                  >dashboard.states</span
                >
                <span fxFlex></span>
                <button
                  mat-icon-button
                  [disabled]="isLoading$ | async"
                  type="button"
                  (click)="addState($event)"
                  matTooltip="{{ 'dashboard.add-state' | translate }}"
                  matTooltipPosition="above"
                >
                  <mat-icon>add</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="isLoading$ | async"
                  (click)="enterFilterMode()"
                  type="button"
                  matTooltip="{{ 'action.search' | translate }}"
                  matTooltipPosition="above"
                >
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </mat-toolbar>
            <mat-toolbar class="mat-table-toolbar" [fxShow]="textSearchMode">
              <div class="mat-toolbar-tools">
                <button
                  mat-icon-button
                  type="button"
                  matTooltip="{{ 'dashboard.search-states' | translate }}"
                  matTooltipPosition="above"
                >
                  <mat-icon>search</mat-icon>
                </button>
                <mat-form-field fxFlex>
                  <mat-label>&nbsp;</mat-label>
                  <input
                    #searchInput
                    matInput
                    [(ngModel)]="pageLink.textSearch"
                    [ngModelOptions]="{ standalone: true }"
                    placeholder="{{ 'dashboard.search-states' | translate }}"
                  />
                </mat-form-field>
                <button
                  mat-icon-button
                  (click)="exitFilterMode()"
                  type="button"
                  matTooltip="{{ 'action.close' | translate }}"
                  matTooltipPosition="above"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-toolbar>
            <div class="table-container">
              <table
                mat-table
                [dataSource]="dataSource"
                matSort
                [matSortActive]="pageLink.sortOrder.property"
                [matSortDirection]="pageLink.sortDirection()"
                matSortDisableClear
              >
                <ng-container matColumnDef="name">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    style="width: 60%"
                  >
                    {{ "dashboard.state-name" | translate }}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let state">
                    {{ state.name }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="id">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    style="width: 40%"
                  >
                    {{ "dashboard.state-id" | translate }}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let state">
                    {{ state.id }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="root">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    style="width: 80px"
                  >
                    {{ "dashboard.is-root-state" | translate }}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let state">
                    <mat-icon class="material-icons mat-icon">{{
                      state.root ? "check_box" : "check_box_outline_blank"
                    }}</mat-icon>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions" stickyEnd>
                  <mat-header-cell
                    *matHeaderCellDef
                    style="min-width: 80px; max-width: 80px; width: 80px"
                  >
                  </mat-header-cell>
                  <mat-cell *matCellDef="let state">
                    <div fxFlex fxLayout="row">
                      <button
                        mat-icon-button
                        [disabled]="isLoading$ | async"
                        type="button"
                        matTooltip="{{ 'dashboard.edit-state' | translate }}"
                        matTooltipPosition="above"
                        (click)="editState($event, state)"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button
                        [fxShow]="!state.root"
                        mat-icon-button
                        [disabled]="isLoading$ | async"
                        type="button"
                        matTooltip="{{ 'dashboard.delete-state' | translate }}"
                        matTooltipPosition="above"
                        (click)="deleteState($event, state)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  class="mat-row-select"
                  *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>
                <mat-row
                  class="mat-row-select"
                  *matRowDef="let state; columns: displayedColumns"
                ></mat-row>
              </table>
              <span
                [fxShow]="dataSource.isEmpty() | async"
                fxLayoutAlign="center center"
                class="no-data-found"
                translate
                >{{ "dashboard.no-states-text" }}</span
              >
            </div>
            <mat-divider></mat-divider>
            <mat-paginator
              [length]="dataSource.total() | async"
              [pageIndex]="pageLink.page"
              [pageSize]="pageLink.pageSize"
              [pageSizeOptions]="[5, 10, 15]"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="isLoading$ | async"
      (click)="cancel()"
      cdkFocusInitial
    >
      {{ "action.cancel" | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="
        (isLoading$ | async) ||
        statesFormGroup.invalid ||
        !statesFormGroup.dirty
      "
    >
      {{ "action.save" | translate }}
    </button>
  </div>
</form>
