/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {

  .tb-filters-header {
    min-height: 40px;
    padding: 0 11px;
    margin: 5px;

    .tb-header-label {
      font-size: 14px;
      color: rgba(0, 0, 0, .570588);
    }
  }

  mat-divider{
    margin: -1px -24px;
  }

  .tb-filter {
    padding: 0 0 0 10px;
    margin: 5px;

    .tb-editable-switch {
      padding-left: 10px;

      .editable-switch {
        margin: 0;
      }
    }
  }
}

:host ::ng-deep {
  .mat-dialog-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
