/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  .key-filter-list {
    overflow: auto;
    max-height: 300px;
    .no-data-found {
      height: 50px;
    }
  }
  .filters-operation {
    margin-top: -40px;
    color: #666;
    font-weight: 500;
  }
  .tb-filter-preview {
    padding: 8px;
    border: 1px groove rgba(0, 0, 0, .25);
    border-radius: 4px;
  }
}

:host ::ng-deep {
  .tb-filter-preview {
    .tb-filter-text {
      max-height: 200px;
    }
  }
}
