/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.trip-animation-label-container {
  height: 24px;
}

.trip-animation-container {
  position: relative;
  z-index: 1;
  flex: 1;
  width: 100%;

  #trip-animation-map {
    z-index: 1;
    width: 100%;
    height: 100%;

    .pointsLayerMarkerIcon {
      border-radius: 50%;
    }
  }

  .trip-animation-info-panel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;

    .mat-button {
      top: 0;
      left: 0;
      width: 32px;
      min-width: 32px;
      height: 32px;
      min-height: 32px;
      padding: 0 0 2px;
      margin: 2px;
      line-height: 24px;

      mat-icon {
        width: 24px;
        height: 24px;

        svg {
          width: inherit;
          height: inherit;
        }
      }
    }
  }

  .trip-animation-tooltip {
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 2;
    padding: 10px;
    background-color: #fff;
    transition: 0.3s ease-in-out;

    &-hidden {
      transform: translateX(110%);
    }
  }
}

.trip-animation-control-panel {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 16px;
  padding-left: 10px;

  mat-slider-container {
    mat-slider {
      min-width: 80px;
    }
  }

  .mat-icon-button {
    width: 44px;
    min-width: 44px;
    height: 48px;
    min-height: 48px;
    margin: 0;
    line-height: 28px;

    mat-icon {
      width: 24px;
      height: 24px;
      font-size: 24px;

      svg {
        width: inherit;
        height: inherit;
      }
    }

    mat-select {
      margin: 0;
    }
  }

  .panel-timer {
    max-width: none;
    margin-top: -20px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }
}

.speed-select {
  width: 70px;
  margin-left: 10px;
  margin-top: 10px;
}
