/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host{
  .checkbox-row {
    margin-top: 1em;
  }

  .registration-card{
    margin-bottom: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);

    .custom-settings{
      font-size: 16px;
      .mat-expansion-panel-header{
        padding: 0 2px;
      }
    }
  }

  .container{
    margin-bottom: 1em;

    .tb-highlight{
      margin: 0;
    }

    .tb-hint{
      padding-bottom: 0;
    }
  }

  .mat-expansion-panel {
    .mat-expansion-panel-header {
      &.mat-expanded {
        height: 48px;
      }
    }
  }
}

:host ::ng-deep{
  .registration-card{
    .custom-settings{
      .mat-expansion-panel-body{
        padding: 0 2px 1em;
      }
      .mat-form-field-suffix .mat-icon-button .mat-icon{
        font-size: 18px;
      }
    }
  }
  .domains-list, .apps-list {
    margin-bottom: 1.5em;
    .mat-form-field-suffix .mat-icon-button .mat-icon{
      font-size: 24px;
    }
  }
}
