<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div>
  <mat-card class="settings-card">
    <mat-card-title>
      <div fxLayout="row">
        <span class="mat-headline" translate>admin.oauth2.oauth2</span>
        <span fxFlex></span>
        <div tb-help="oauth2Settings"></div>
      </div>
    </mat-card-title>
    <mat-progress-bar
      color="warn"
      mode="indeterminate"
      *ngIf="isLoading$ | async"
    >
    </mat-progress-bar>
    <div style="height: 4px" *ngIf="!(isLoading$ | async)"></div>
    <mat-card-content style="padding-top: 16px">
      <form [formGroup]="oauth2SettingsForm" (ngSubmit)="save()">
        <fieldset [disabled]="isLoading$ | async">
          <mat-checkbox formControlName="enabled">
            {{ "admin.oauth2.enable" | translate }}
          </mat-checkbox>
          <section
            *ngIf="oauth2SettingsForm.get('enabled').value"
            style="margin-top: 1em"
          >
            <ng-container formArrayName="oauth2ParamsInfos">
              <div class="container">
                <mat-accordion multi>
                  <ng-container
                    *ngFor="
                      let oauth2ParamsInfo of oauth2ParamsInfos.controls;
                      let i = index;
                      trackBy: trackByParams
                    "
                  >
                    <mat-expansion-panel [formGroupName]="i">
                      <mat-expansion-panel-header>
                        <mat-panel-title fxLayoutAlign="start center">
                          {{ domainListTittle(oauth2ParamsInfo) }}
                        </mat-panel-title>
                        <mat-panel-description fxLayoutAlign="end center">
                          <button
                            mat-icon-button
                            type="button"
                            (click)="deleteOAuth2ParamsInfo($event, i)"
                            matTooltip="{{ 'action.delete' | translate }}"
                            matTooltipPosition="above"
                          >
                            <mat-icon>delete</mat-icon>
                          </button>
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <ng-template matExpansionPanelContent>
                        <mat-tab-group dynamicHeight>
                          <mat-tab
                            label="{{ 'admin.oauth2.domains' | translate }}"
                          >
                            <ng-container formArrayName="domainInfos">
                              <div style="padding-top: 16px"></div>
                              <section
                                *ngFor="
                                  let domainInfo of domainInfos(
                                    oauth2ParamsInfo
                                  ).controls;
                                  let n = index;
                                  trackBy: trackByParams
                                "
                                class="domains-list"
                              >
                                <div
                                  [formGroupName]="n"
                                  fxLayout="row"
                                  fxLayoutGap="8px"
                                >
                                  <div
                                    fxFlex
                                    fxLayout="row"
                                    fxLayout.xs="column"
                                    fxLayoutGap="8px"
                                  >
                                    <div
                                      fxLayout="column"
                                      fxFlex.sm="60"
                                      fxFlex.gt-sm="50"
                                    >
                                      <div
                                        fxLayout="row"
                                        fxLayout.xs="column"
                                        fxLayout.md="column"
                                        fxLayoutGap="8px"
                                        fxLayoutGap.md="0px"
                                      >
                                        <mat-form-field
                                          fxFlex="30"
                                          fxFlex.md
                                          fxFlex.xs
                                          class="mat-block"
                                        >
                                          <mat-label translate
                                            >admin.oauth2.protocol</mat-label
                                          >
                                          <mat-select formControlName="scheme">
                                            <mat-option
                                              *ngFor="let protocol of protocols"
                                              [value]="protocol"
                                            >
                                              {{
                                                domainSchemaTranslations.get(
                                                  protocol
                                                )
                                                  | translate
                                                  | uppercase
                                              }}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                        <mat-form-field
                                          fxFlex
                                          class="mat-block"
                                        >
                                          <mat-label translate
                                            >admin.domain-name</mat-label
                                          >
                                          <input
                                            matInput
                                            formControlName="name"
                                            required
                                          />
                                          <mat-error
                                            *ngIf="
                                              domainInfo
                                                .get('name')
                                                .hasError('pattern')
                                            "
                                          >
                                            {{
                                              "admin.error-verification-url"
                                                | translate
                                            }}
                                          </mat-error>
                                          <mat-error
                                            *ngIf="
                                              domainInfo
                                                .get('name')
                                                .hasError('maxlength')
                                            "
                                          >
                                            {{
                                              "admin.domain-name-max-length"
                                                | translate
                                            }}
                                          </mat-error>
                                        </mat-form-field>
                                      </div>
                                      <mat-error
                                        *ngIf="domainInfo.hasError('unique')"
                                      >
                                        {{
                                          "admin.domain-name-unique" | translate
                                        }}
                                      </mat-error>
                                    </div>

                                    <div fxFlex fxLayout="column">
                                      <mat-form-field fxFlex class="mat-block">
                                        <mat-label translate
                                          >admin.oauth2.redirect-uri-template</mat-label
                                        >
                                        <input
                                          matInput
                                          [value]="redirectURI(domainInfo)"
                                          readonly
                                        />
                                        <tb-copy-button
                                          matSuffix
                                          color="primary"
                                          [copyText]="redirectURI(domainInfo)"
                                          tooltipText="{{
                                            'admin.oauth2.copy-redirect-uri'
                                              | translate
                                          }}"
                                          tooltipPosition="above"
                                          mdiIcon="mdi:clipboard-arrow-left"
                                        >
                                        </tb-copy-button>
                                      </mat-form-field>
                                      <mat-form-field
                                        fxFlex
                                        *ngIf="
                                          domainInfo.get('scheme').value ===
                                          'MIXED'
                                        "
                                        class="mat-block"
                                      >
                                        <mat-label></mat-label>
                                        <input
                                          matInput
                                          [value]="redirectURIMixed(domainInfo)"
                                          readonly
                                        />
                                        <tb-copy-button
                                          matSuffix
                                          color="primary"
                                          [copyText]="
                                            redirectURIMixed(domainInfo)
                                          "
                                          tooltipText="{{
                                            'admin.oauth2.copy-redirect-uri'
                                              | translate
                                          }}"
                                          tooltipPosition="above"
                                          mdiIcon="mdi:clipboard-arrow-left"
                                        >
                                        </tb-copy-button>
                                      </mat-form-field>
                                    </div>
                                  </div>

                                  <div
                                    fxLayout="column"
                                    fxLayoutAlign="center start"
                                  >
                                    <button
                                      type="button"
                                      mat-icon-button
                                      color="primary"
                                      (click)="
                                        removeDomainInfo(
                                          $event,
                                          oauth2ParamsInfo,
                                          n
                                        )
                                      "
                                      [disabled]="
                                        domainInfos(oauth2ParamsInfo).controls
                                          .length < 2
                                      "
                                      matTooltip="{{
                                        'admin.oauth2.delete-domain' | translate
                                      }}"
                                      matTooltipPosition="above"
                                    >
                                      <mat-icon>close</mat-icon>
                                    </button>
                                  </div>
                                </div>
                              </section>
                              <div
                                fxLayout="row"
                                fxLayoutAlign="end center"
                                style="margin-bottom: 1.25em"
                              >
                                <button
                                  mat-button
                                  mat-raised-button
                                  color="primary"
                                  [disabled]="isLoading$ | async"
                                  (click)="addDomainInfo(oauth2ParamsInfo)"
                                  type="button"
                                >
                                  {{ "admin.oauth2.add-domain" | translate }}
                                </button>
                              </div>
                            </ng-container>
                          </mat-tab>
                          <mat-tab
                            label="{{ 'admin.oauth2.mobile-apps' | translate }}"
                          >
                            <ng-container formArrayName="mobileInfos">
                              <div style="padding-top: 16px"></div>
                              <div
                                *ngIf="
                                  mobileInfos(oauth2ParamsInfo).length === 0
                                "
                              >
                                <span
                                  fxLayoutAlign="center center"
                                  class="tb-prompt"
                                  translate
                                  >admin.oauth2.no-mobile-apps</span
                                >
                              </div>
                              <section
                                *ngFor="
                                  let mobileInfo of mobileInfos(
                                    oauth2ParamsInfo
                                  ).controls;
                                  let n = index;
                                  trackBy: trackByParams
                                "
                                class="apps-list"
                              >
                                <div
                                  [formGroupName]="n"
                                  fxLayout="row"
                                  fxLayoutGap="8px"
                                >
                                  <div
                                    fxFlex
                                    fxLayout="row"
                                    fxLayout.xs="column"
                                    fxLayoutGap="8px"
                                  >
                                    <div fxFlex fxLayout="column">
                                      <mat-form-field
                                        fxFlex
                                        class="mat-block"
                                        floatLabel="always"
                                      >
                                        <mat-label translate
                                          >admin.oauth2.mobile-package</mat-label
                                        >
                                        <input
                                          matInput
                                          formControlName="pkgName"
                                          placeholder="{{
                                            'admin.oauth2.mobile-package-placeholder'
                                              | translate
                                          }}"
                                          required
                                        />
                                        <mat-hint translate
                                          >admin.oauth2.mobile-package-hint</mat-hint
                                        >
                                      </mat-form-field>
                                      <mat-error
                                        *ngIf="mobileInfo.hasError('unique')"
                                      >
                                        {{
                                          "admin.oauth2.mobile-package-unique"
                                            | translate
                                        }}
                                      </mat-error>
                                    </div>
                                    <div fxFlex fxLayout="row">
                                      <mat-form-field fxFlex class="mat-block">
                                        <mat-label translate
                                          >admin.oauth2.mobile-app-secret</mat-label
                                        >
                                        <textarea
                                          matInput
                                          formControlName="appSecret"
                                          rows="1"
                                          required
                                        ></textarea>
                                        <tb-copy-button
                                          matSuffix
                                          color="primary"
                                          [copyText]="
                                            mobileInfo.get('appSecret').value
                                          "
                                          tooltipText="{{
                                            'admin.oauth2.copy-mobile-app-secret'
                                              | translate
                                          }}"
                                          tooltipPosition="above"
                                          mdiIcon="mdi:clipboard-arrow-left"
                                        >
                                        </tb-copy-button>
                                        <mat-error
                                          *ngIf="
                                            mobileInfo.get('appSecret').invalid
                                          "
                                        >
                                          {{
                                            "admin.oauth2.invalid-mobile-app-secret"
                                              | translate
                                          }}
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <div
                                    fxLayout="column"
                                    fxLayoutAlign="center start"
                                  >
                                    <button
                                      type="button"
                                      mat-icon-button
                                      color="primary"
                                      (click)="
                                        removeMobileInfo(
                                          $event,
                                          oauth2ParamsInfo,
                                          n
                                        )
                                      "
                                      matTooltip="{{
                                        'admin.oauth2.delete-mobile-app'
                                          | translate
                                      }}"
                                      matTooltipPosition="above"
                                    >
                                      <mat-icon>close</mat-icon>
                                    </button>
                                  </div>
                                </div>
                              </section>
                              <div
                                fxLayout="row"
                                fxLayoutAlign="end center"
                                style="margin-bottom: 1.25em"
                              >
                                <button
                                  mat-button
                                  mat-raised-button
                                  color="primary"
                                  [disabled]="isLoading$ | async"
                                  (click)="addMobileInfo(oauth2ParamsInfo)"
                                  type="button"
                                >
                                  {{
                                    "admin.oauth2.add-mobile-app" | translate
                                  }}
                                </button>
                              </div>
                            </ng-container>
                          </mat-tab>
                        </mat-tab-group>
                        <div class="mat-h3" translate>
                          admin.oauth2.providers
                        </div>
                        <ng-container formArrayName="clientRegistrations">
                          <div class="container">
                            <mat-expansion-panel
                              *ngFor="
                                let registration of clientRegistrations(
                                  oauth2ParamsInfo
                                ).controls;
                                let j = index;
                                trackBy: trackByParams
                              "
                              class="registration-card mat-elevation-z0"
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title fxLayoutAlign="start center">
                                  {{ getProviderName(registration) }}
                                </mat-panel-title>
                                <mat-panel-description
                                  fxLayoutAlign="end center"
                                >
                                  <button
                                    mat-icon-button
                                    type="button"
                                    [disabled]="
                                      clientRegistrations(oauth2ParamsInfo)
                                        .controls.length < 2
                                    "
                                    (click)="
                                      deleteRegistration(
                                        $event,
                                        oauth2ParamsInfo,
                                        j
                                      )
                                    "
                                    matTooltip="{{
                                      'admin.oauth2.delete-provider' | translate
                                    }}"
                                    matTooltipPosition="above"
                                  >
                                    <mat-icon>delete</mat-icon>
                                  </button>
                                </mat-panel-description>
                              </mat-expansion-panel-header>

                              <ng-template matExpansionPanelContent>
                                <section [formGroupName]="j">
                                  <div
                                    fxLayout="row"
                                    fxLayout.xs="column"
                                    fxLayoutGap.gt-xs="8px"
                                  >
                                    <section
                                      fxFlex
                                      formGroupName="additionalInfo"
                                      fxLayout="row"
                                    >
                                      <mat-form-field fxFlex class="mat-block">
                                        <mat-label translate
                                          >admin.oauth2.login-provider</mat-label
                                        >
                                        <mat-select
                                          formControlName="providerName"
                                        >
                                          <mat-option
                                            *ngFor="
                                              let provider of templateProvider
                                            "
                                            [value]="provider"
                                          >
                                            {{ provider }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <div
                                        [tb-help]="getHelpLink(registration)"
                                        *ngIf="!isCustomProvider(registration)"
                                      ></div>
                                    </section>
                                    <mat-form-field
                                      floatLabel="always"
                                      fxFlex
                                      class="mat-block"
                                    >
                                      <mat-label translate
                                        >admin.oauth2.allowed-platforms</mat-label
                                      >
                                      <mat-select
                                        formControlName="platforms"
                                        multiple
                                        placeholder="{{
                                          'admin.oauth2.all-platforms'
                                            | translate
                                        }}"
                                      >
                                        <mat-option
                                          *ngFor="let platform of platformTypes"
                                          [value]="platform"
                                        >
                                          {{
                                            platformTypeTranslations.get(
                                              platform
                                            ) | translate
                                          }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div
                                    fxLayout="row"
                                    fxLayout.xs="column"
                                    fxLayoutGap.gt-xs="8px"
                                  >
                                    <mat-form-field fxFlex class="mat-block">
                                      <mat-label translate
                                        >admin.oauth2.client-id</mat-label
                                      >
                                      <input
                                        matInput
                                        formControlName="clientId"
                                        required
                                      />
                                      <mat-error
                                        *ngIf="
                                          registration
                                            .get('clientId')
                                            .hasError('required')
                                        "
                                      >
                                        {{
                                          "admin.oauth2.client-id-required"
                                            | translate
                                        }}
                                      </mat-error>
                                      <mat-error
                                        *ngIf="
                                          registration
                                            .get('clientId')
                                            .hasError('maxlength')
                                        "
                                      >
                                        {{
                                          "admin.oauth2.client-id-max-length"
                                            | translate
                                        }}
                                      </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex class="mat-block">
                                      <mat-label translate
                                        >admin.oauth2.client-secret</mat-label
                                      >
                                      <input
                                        matInput
                                        formControlName="clientSecret"
                                        required
                                      />
                                      <mat-error
                                        *ngIf="
                                          registration
                                            .get('clientSecret')
                                            .hasError('required')
                                        "
                                      >
                                        {{
                                          "admin.oauth2.client-secret-required"
                                            | translate
                                        }}
                                      </mat-error>
                                      <mat-error
                                        *ngIf="
                                          registration
                                            .get('clientSecret')
                                            .hasError('maxlength')
                                        "
                                      >
                                        {{
                                          "admin.oauth2.client-secret-max-length"
                                            | translate
                                        }}
                                      </mat-error>
                                    </mat-form-field>
                                  </div>

                                  <mat-expansion-panel
                                    class="mat-elevation-z0 custom-settings"
                                    [disabled]="isCustomProvider(registration)"
                                    [expanded]="isCustomProvider(registration)"
                                  >
                                    <mat-expansion-panel-header
                                      [fxHide]="isCustomProvider(registration)"
                                    >
                                      <mat-panel-description
                                        fxLayoutAlign="end center"
                                      >
                                        {{
                                          "admin.oauth2.custom-setting"
                                            | translate
                                        }}
                                      </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <ng-template matExpansionPanelContent>
                                      <mat-tab-group dynamicHeight>
                                        <mat-tab
                                          label="{{
                                            'admin.oauth2.general' | translate
                                          }}"
                                        >
                                          <div
                                            fxLayout="row"
                                            fxLayout.xs="column"
                                            fxLayoutGap.gt-xs="8px"
                                            style="margin-top: 16px"
                                          >
                                            <mat-form-field
                                              fxFlex
                                              class="mat-block"
                                            >
                                              <mat-label translate
                                                >admin.oauth2.access-token-uri</mat-label
                                              >
                                              <input
                                                matInput
                                                formControlName="accessTokenUri"
                                                required
                                              />
                                              <button
                                                mat-icon-button
                                                matSuffix
                                                type="button"
                                                (click)="
                                                  toggleEditMode(
                                                    registration,
                                                    'accessTokenUri'
                                                  )
                                                "
                                                *ngIf="
                                                  !isCustomProvider(
                                                    registration
                                                  )
                                                "
                                              >
                                                <mat-icon class="material-icons"
                                                  >create</mat-icon
                                                >
                                              </button>
                                              <mat-error
                                                *ngIf="
                                                  registration
                                                    .get('accessTokenUri')
                                                    .hasError('required')
                                                "
                                              >
                                                {{
                                                  "admin.oauth2.access-token-uri-required"
                                                    | translate
                                                }}
                                              </mat-error>
                                              <mat-error
                                                *ngIf="
                                                  registration
                                                    .get('accessTokenUri')
                                                    .hasError('pattern')
                                                "
                                              >
                                                {{
                                                  "admin.oauth2.uri-pattern-error"
                                                    | translate
                                                }}
                                              </mat-error>
                                            </mat-form-field>

                                            <mat-form-field
                                              fxFlex
                                              class="mat-block"
                                            >
                                              <mat-label translate
                                                >admin.oauth2.authorization-uri</mat-label
                                              >
                                              <input
                                                matInput
                                                formControlName="authorizationUri"
                                                required
                                              />
                                              <button
                                                mat-icon-button
                                                matSuffix
                                                type="button"
                                                (click)="
                                                  toggleEditMode(
                                                    registration,
                                                    'authorizationUri'
                                                  )
                                                "
                                                *ngIf="
                                                  !isCustomProvider(
                                                    registration
                                                  )
                                                "
                                              >
                                                <mat-icon class="material-icons"
                                                  >create</mat-icon
                                                >
                                              </button>
                                              <mat-error
                                                *ngIf="
                                                  registration
                                                    .get('authorizationUri')
                                                    .hasError('required')
                                                "
                                              >
                                                {{
                                                  "admin.oauth2.authorization-uri-required"
                                                    | translate
                                                }}
                                              </mat-error>
                                              <mat-error
                                                *ngIf="
                                                  registration
                                                    .get('authorizationUri')
                                                    .hasError('pattern')
                                                "
                                              >
                                                {{
                                                  "admin.oauth2.uri-pattern-error"
                                                    | translate
                                                }}
                                              </mat-error>
                                            </mat-form-field>
                                          </div>

                                          <div
                                            fxLayout="row"
                                            fxLayout.xs="column"
                                            fxLayoutGap.gt-xs="8px"
                                          >
                                            <mat-form-field
                                              fxFlex
                                              class="mat-block"
                                              appearance="legacy"
                                            >
                                              <mat-label translate
                                                >admin.oauth2.jwk-set-uri</mat-label
                                              >
                                              <input
                                                matInput
                                                formControlName="jwkSetUri"
                                              />
                                              <button
                                                mat-icon-button
                                                matSuffix
                                                type="button"
                                                aria-label="Clear"
                                                (click)="
                                                  toggleEditMode(
                                                    registration,
                                                    'jwkSetUri'
                                                  )
                                                "
                                                *ngIf="
                                                  !isCustomProvider(
                                                    registration
                                                  )
                                                "
                                              >
                                                <mat-icon class="material-icons"
                                                  >create</mat-icon
                                                >
                                              </button>
                                              <mat-error
                                                *ngIf="
                                                  registration
                                                    .get('jwkSetUri')
                                                    .hasError('pattern')
                                                "
                                              >
                                                {{
                                                  "admin.oauth2.uri-pattern-error"
                                                    | translate
                                                }}
                                              </mat-error>
                                            </mat-form-field>

                                            <mat-form-field
                                              fxFlex
                                              class="mat-block"
                                            >
                                              <mat-label translate
                                                >admin.oauth2.user-info-uri</mat-label
                                              >
                                              <input
                                                matInput
                                                formControlName="userInfoUri"
                                              />
                                              <button
                                                mat-icon-button
                                                matSuffix
                                                type="button"
                                                (click)="
                                                  toggleEditMode(
                                                    registration,
                                                    'userInfoUri'
                                                  )
                                                "
                                                *ngIf="
                                                  !isCustomProvider(
                                                    registration
                                                  )
                                                "
                                              >
                                                <mat-icon class="material-icons"
                                                  >create</mat-icon
                                                >
                                              </button>
                                              <mat-error
                                                *ngIf="
                                                  registration
                                                    .get('userInfoUri')
                                                    .hasError('pattern')
                                                "
                                              >
                                                {{
                                                  "admin.oauth2.uri-pattern-error"
                                                    | translate
                                                }}
                                              </mat-error>
                                            </mat-form-field>
                                          </div>

                                          <mat-form-field
                                            fxFlex
                                            class="mat-block"
                                          >
                                            <mat-label translate
                                              >admin.oauth2.client-authentication-method</mat-label
                                            >
                                            <mat-select
                                              formControlName="clientAuthenticationMethod"
                                            >
                                              <mat-option
                                                *ngFor="
                                                  let clientAuthenticationMethod of clientAuthenticationMethods
                                                "
                                                [value]="
                                                  clientAuthenticationMethod
                                                "
                                              >
                                                {{
                                                  clientAuthenticationMethod
                                                    | uppercase
                                                }}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>

                                          <div
                                            fxLayout="row"
                                            fxLayout.xs="column"
                                            fxLayoutGap.gt-xs="8px"
                                            *ngIf="
                                              isCustomProvider(registration)
                                            "
                                          >
                                            <mat-form-field
                                              fxFlex
                                              class="mat-block"
                                              floatLabel="always"
                                            >
                                              <mat-label translate
                                                >admin.oauth2.login-button-label</mat-label
                                              >
                                              <input
                                                matInput
                                                formControlName="loginButtonLabel"
                                                placeholder="{{
                                                  'admin.oauth2.login-button-label-placeholder'
                                                    | translate
                                                }}"
                                                required
                                              />
                                              <mat-error
                                                *ngIf="
                                                  registration
                                                    .get('loginButtonLabel')
                                                    .hasError('required')
                                                "
                                              >
                                                {{
                                                  "admin.oauth2.login-button-label-required"
                                                    | translate
                                                }}
                                              </mat-error>
                                            </mat-form-field>

                                            <mat-form-field
                                              fxFlex
                                              class="mat-block"
                                            >
                                              <mat-label translate
                                                >admin.oauth2.login-button-icon</mat-label
                                              >
                                              <input
                                                matInput
                                                formControlName="loginButtonIcon"
                                              />
                                            </mat-form-field>
                                          </div>

                                          <section formGroupName="mapperConfig">
                                            <div
                                              fxLayout="column"
                                              fxLayoutGap="8px"
                                              style="margin-bottom: 8px"
                                            >
                                              <mat-checkbox
                                                formControlName="allowUserCreation"
                                              >
                                                {{
                                                  "admin.oauth2.allow-user-creation"
                                                    | translate
                                                }}
                                              </mat-checkbox>
                                              <mat-checkbox
                                                formControlName="activateUser"
                                              >
                                                {{
                                                  "admin.oauth2.activate-user"
                                                    | translate
                                                }}
                                              </mat-checkbox>
                                            </div>
                                          </section>

                                          <mat-form-field
                                            fxFlex
                                            class="mat-block"
                                          >
                                            <mat-label translate
                                              >admin.oauth2.scope</mat-label
                                            >
                                            <mat-chip-list #scopeList>
                                              <mat-chip
                                                *ngFor="
                                                  let scope of registration.get(
                                                    'scope'
                                                  ).value;
                                                  let k = index;
                                                  trackBy: trackByParams
                                                "
                                                removable
                                                (removed)="
                                                  removeScope(k, registration)
                                                "
                                              >
                                                {{ scope }}
                                                <mat-icon matChipRemove
                                                  >cancel</mat-icon
                                                >
                                              </mat-chip>
                                              <input
                                                [matChipInputFor]="scopeList"
                                                [matChipInputSeparatorKeyCodes]="
                                                  separatorKeysCodes
                                                "
                                                matChipInputAddOnBlur
                                                (matChipInputTokenEnd)="
                                                  addScope($event, registration)
                                                "
                                              />
                                            </mat-chip-list>
                                            <mat-error
                                              *ngIf="
                                                registration
                                                  .get('scope')
                                                  .hasError('required')
                                              "
                                            >
                                              {{
                                                "admin.oauth2.scope-required"
                                                  | translate
                                              }}
                                            </mat-error>
                                          </mat-form-field>
                                          <tb-error
                                            style="
                                              display: block;
                                              margin-top: -24px;
                                            "
                                            [error]="
                                              registration
                                                .get('scope')
                                                .hasError('required')
                                                ? ('admin.oauth2.scope-required'
                                                  | translate)
                                                : ''
                                            "
                                          >
                                          </tb-error>
                                        </mat-tab>
                                        <mat-tab
                                          label="{{
                                            'admin.oauth2.mapper' | translate
                                          }}"
                                        >
                                          <mat-form-field
                                            class="mat-block"
                                            style="margin-top: 16px"
                                          >
                                            <mat-label translate
                                              >admin.oauth2.user-name-attribute-name</mat-label
                                            >
                                            <input
                                              matInput
                                              formControlName="userNameAttributeName"
                                              required
                                            />
                                            <mat-error
                                              *ngIf="
                                                registration
                                                  .get('userNameAttributeName')
                                                  .hasError('required')
                                              "
                                            >
                                              {{
                                                "admin.oauth2.user-name-attribute-name-required"
                                                  | translate
                                              }}
                                            </mat-error>
                                          </mat-form-field>

                                          <section formGroupName="mapperConfig">
                                            <mat-form-field
                                              fxFlex
                                              class="mat-block"
                                            >
                                              <mat-label translate
                                                >admin.oauth2.type</mat-label
                                              >
                                              <mat-select
                                                formControlName="type"
                                              >
                                                <mat-option
                                                  *ngFor="
                                                    let mapperConfigType of mapperConfigTypes
                                                  "
                                                  [value]="mapperConfigType"
                                                >
                                                  {{ mapperConfigType }}
                                                </mat-option>
                                              </mat-select>
                                            </mat-form-field>

                                            <section
                                              formGroupName="basic"
                                              *ngIf="
                                                registration.get(
                                                  'mapperConfig.type'
                                                ).value !==
                                                mapperConfigType.CUSTOM
                                              "
                                            >
                                              <mat-form-field
                                                class="mat-block"
                                                *ngIf="
                                                  registration.get(
                                                    'mapperConfig.type'
                                                  ).value !==
                                                  mapperConfigType.GITHUB
                                                "
                                              >
                                                <mat-label translate
                                                  >admin.oauth2.email-attribute-key</mat-label
                                                >
                                                <input
                                                  matInput
                                                  formControlName="emailAttributeKey"
                                                  required
                                                />
                                                <mat-error
                                                  *ngIf="
                                                    registration
                                                      .get(
                                                        'mapperConfig.basic.emailAttributeKey'
                                                      )
                                                      .hasError('required')
                                                  "
                                                >
                                                  {{
                                                    "admin.oauth2.email-attribute-key-required"
                                                      | translate
                                                  }}
                                                </mat-error>
                                                <mat-error
                                                  *ngIf="
                                                    registration
                                                      .get(
                                                        'mapperConfig.basic.emailAttributeKey'
                                                      )
                                                      .hasError('maxlength')
                                                  "
                                                >
                                                  {{
                                                    "admin.oauth2.email-attribute-key-max-length"
                                                      | translate
                                                  }}
                                                </mat-error>
                                              </mat-form-field>

                                              <div
                                                fxLayout="row"
                                                fxLayout.xs="column"
                                                fxLayoutGap.gt-xs="8px"
                                              >
                                                <mat-form-field
                                                  fxFlex
                                                  class="mat-block"
                                                >
                                                  <mat-label translate
                                                    >admin.oauth2.first-name-attribute-key</mat-label
                                                  >
                                                  <input
                                                    matInput
                                                    formControlName="firstNameAttributeKey"
                                                  />
                                                  <mat-error
                                                    *ngIf="
                                                      registration
                                                        .get(
                                                          'mapperConfig.basic.firstNameAttributeKey'
                                                        )
                                                        .hasError('maxlength')
                                                    "
                                                  >
                                                    {{
                                                      "admin.oauth2.first-name-attribute-key-max-length"
                                                        | translate
                                                    }}
                                                  </mat-error>
                                                </mat-form-field>

                                                <mat-form-field
                                                  fxFlex
                                                  class="mat-block"
                                                >
                                                  <mat-label translate
                                                    >admin.oauth2.last-name-attribute-key</mat-label
                                                  >
                                                  <input
                                                    matInput
                                                    formControlName="lastNameAttributeKey"
                                                  />
                                                  <mat-error
                                                    *ngIf="
                                                      registration
                                                        .get(
                                                          'mapperConfig.basic.lastNameAttributeKey'
                                                        )
                                                        .hasError('maxlength')
                                                    "
                                                  >
                                                    {{
                                                      "admin.oauth2.last-name-attribute-key-max-length"
                                                        | translate
                                                    }}
                                                  </mat-error>
                                                </mat-form-field>
                                              </div>

                                              <div
                                                fxLayout="row"
                                                fxLayout.xs="column"
                                                fxLayoutGap.gt-xs="8px"
                                              >
                                                <mat-form-field
                                                  fxFlex
                                                  class="mat-block"
                                                >
                                                  <mat-label translate
                                                    >admin.oauth2.tenant-name-strategy</mat-label
                                                  >
                                                  <mat-select
                                                    formControlName="tenantNameStrategy"
                                                  >
                                                    <mat-option
                                                      *ngFor="
                                                        let tenantNameStrategy of tenantNameStrategies
                                                      "
                                                      [value]="
                                                        tenantNameStrategy
                                                      "
                                                    >
                                                      {{ tenantNameStrategy }}
                                                    </mat-option>
                                                  </mat-select>
                                                </mat-form-field>

                                                <mat-form-field
                                                  fxFlex
                                                  class="mat-block"
                                                  [fxShow]="
                                                    registration.get(
                                                      'mapperConfig.basic.tenantNameStrategy'
                                                    ).value === 'CUSTOM'
                                                  "
                                                >
                                                  <mat-label translate
                                                    >admin.oauth2.tenant-name-pattern</mat-label
                                                  >
                                                  <input
                                                    matInput
                                                    formControlName="tenantNamePattern"
                                                    [required]="
                                                      registration.get(
                                                        'mapperConfig.basic.tenantNameStrategy'
                                                      ).value === 'CUSTOM'
                                                    "
                                                  />
                                                  <mat-error
                                                    *ngIf="
                                                      registration
                                                        .get(
                                                          'mapperConfig.basic.tenantNamePattern'
                                                        )
                                                        .hasError('required')
                                                    "
                                                  >
                                                    {{
                                                      "admin.oauth2.tenant-name-pattern-required"
                                                        | translate
                                                    }}
                                                  </mat-error>
                                                  <mat-error
                                                    *ngIf="
                                                      registration
                                                        .get(
                                                          'mapperConfig.basic.tenantNamePattern'
                                                        )
                                                        .hasError('maxlength')
                                                    "
                                                  >
                                                    {{
                                                      "admin.oauth2.tenant-name-pattern-max-length"
                                                        | translate
                                                    }}
                                                  </mat-error>
                                                </mat-form-field>
                                              </div>

                                              <mat-form-field
                                                fxFlex
                                                class="mat-block"
                                              >
                                                <mat-label translate
                                                  >admin.oauth2.customer-name-pattern</mat-label
                                                >
                                                <input
                                                  matInput
                                                  formControlName="customerNamePattern"
                                                />
                                                <mat-error
                                                  *ngIf="
                                                    registration
                                                      .get(
                                                        'mapperConfig.basic.customerNamePattern'
                                                      )
                                                      .hasError('maxlength')
                                                  "
                                                >
                                                  {{
                                                    "admin.oauth2.customer-name-pattern-max-length"
                                                      | translate
                                                  }}
                                                </mat-error>
                                              </mat-form-field>

                                              <div
                                                fxLayout="row"
                                                fxLayout.xs="column"
                                                fxLayoutGap.gt-xs="8px"
                                              >
                                                <mat-form-field
                                                  fxFlex
                                                  class="mat-block"
                                                >
                                                  <mat-label translate
                                                    >admin.oauth2.default-dashboard-name</mat-label
                                                  >
                                                  <input
                                                    matInput
                                                    formControlName="defaultDashboardName"
                                                  />
                                                  <mat-error
                                                    *ngIf="
                                                      registration
                                                        .get(
                                                          'mapperConfig.basic.defaultDashboardName'
                                                        )
                                                        .hasError('maxlength')
                                                    "
                                                  >
                                                    {{
                                                      "admin.oauth2.default-dashboard-name-max-length"
                                                        | translate
                                                    }}
                                                  </mat-error>
                                                </mat-form-field>

                                                <mat-checkbox
                                                  fxFlex
                                                  formControlName="alwaysFullScreen"
                                                  class="checkbox-row"
                                                >
                                                  {{
                                                    "admin.oauth2.always-fullscreen"
                                                      | translate
                                                  }}
                                                </mat-checkbox>
                                              </div>
                                            </section>

                                            <section
                                              formGroupName="custom"
                                              *ngIf="
                                                registration.get(
                                                  'mapperConfig.type'
                                                ).value ===
                                                mapperConfigType.CUSTOM
                                              "
                                            >
                                              <mat-form-field class="mat-block">
                                                <mat-label translate
                                                  >admin.oauth2.url</mat-label
                                                >
                                                <input
                                                  matInput
                                                  formControlName="url"
                                                  required
                                                />
                                                <mat-error
                                                  *ngIf="
                                                    registration
                                                      .get(
                                                        'mapperConfig.custom.url'
                                                      )
                                                      .hasError('required')
                                                  "
                                                >
                                                  {{
                                                    "admin.oauth2.url-required"
                                                      | translate
                                                  }}
                                                </mat-error>
                                                <mat-error
                                                  *ngIf="
                                                    registration
                                                      .get(
                                                        'mapperConfig.custom.url'
                                                      )
                                                      .hasError('pattern')
                                                  "
                                                >
                                                  {{
                                                    "admin.oauth2.url-pattern"
                                                      | translate
                                                  }}
                                                </mat-error>
                                                <mat-error
                                                  *ngIf="
                                                    registration
                                                      .get(
                                                        'mapperConfig.custom.url'
                                                      )
                                                      .hasError('maxlength')
                                                  "
                                                >
                                                  {{
                                                    "admin.oauth2.url-max-length"
                                                      | translate
                                                  }}
                                                </mat-error>
                                              </mat-form-field>

                                              <div
                                                fxLayout="row"
                                                fxLayout.xs="column"
                                                fxLayoutGap.gt-xs="8px"
                                              >
                                                <mat-form-field
                                                  fxFlex
                                                  class="mat-block"
                                                >
                                                  <mat-label translate
                                                    >common.username</mat-label
                                                  >
                                                  <input
                                                    matInput
                                                    formControlName="username"
                                                    autocomplete="new-username"
                                                  />
                                                  <mat-error
                                                    *ngIf="
                                                      registration
                                                        .get(
                                                          'mapperConfig.custom.username'
                                                        )
                                                        .hasError('maxlength')
                                                    "
                                                  >
                                                    {{
                                                      "admin.oauth2.username-max-length"
                                                        | translate
                                                    }}
                                                  </mat-error>
                                                </mat-form-field>

                                                <mat-form-field
                                                  fxFlex
                                                  class="mat-block"
                                                >
                                                  <mat-label translate
                                                    >common.password</mat-label
                                                  >
                                                  <input
                                                    matInput
                                                    type="password"
                                                    formControlName="password"
                                                    autocomplete="new-password"
                                                  />
                                                  <tb-toggle-password
                                                    matSuffix
                                                  ></tb-toggle-password>
                                                  <mat-error
                                                    *ngIf="
                                                      registration
                                                        .get(
                                                          'mapperConfig.custom.password'
                                                        )
                                                        .hasError('maxlength')
                                                    "
                                                  >
                                                    {{
                                                      "admin.oauth2.password-max-length"
                                                        | translate
                                                    }}
                                                  </mat-error>
                                                </mat-form-field>
                                              </div>
                                            </section>
                                          </section>
                                        </mat-tab>
                                      </mat-tab-group>
                                    </ng-template>
                                  </mat-expansion-panel>
                                </section>
                              </ng-template>
                            </mat-expansion-panel>
                          </div>
                        </ng-container>

                        <div
                          fxLayout="row"
                          fxLayoutAlign="end center"
                          fxLayoutGap="8px"
                        >
                          <button
                            mat-button
                            mat-raised-button
                            color="primary"
                            [disabled]="isLoading$ | async"
                            (click)="addRegistration(oauth2ParamsInfo)"
                            type="button"
                          >
                            {{ "admin.oauth2.add-provider" | translate }}
                          </button>
                        </div>
                      </ng-template>
                    </mat-expansion-panel>
                  </ng-container>
                </mat-accordion>
              </div>
            </ng-container>
          </section>
        </fieldset>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button
            type="button"
            mat-raised-button
            color="primary"
            [disabled]="isLoading$ | async"
            *ngIf="oauth2SettingsForm.get('enabled').value"
            (click)="addOAuth2ParamsInfo()"
          >
            <mat-icon>add</mat-icon>
            <span translate>action.add</span>
          </button>
          <button
            mat-button
            mat-raised-button
            color="primary"
            [disabled]="
              (isLoading$ | async) ||
              oauth2SettingsForm.invalid ||
              !oauth2SettingsForm.dirty
            "
            type="submit"
          >
            {{ "action.save" | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
