/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host ::ng-deep {
  .mat-dialog-content {
    .mat-vertical-content {
      form {
        padding-bottom: 12px;
      }
    }
    .mat-vertical-stepper-header {
      pointer-events: none !important;
    }
    .tb-import-progress{
      margin: 7px 0;
    }

    .tb-failure-details {
      width: 100%;
      min-width: 300px;
      height: 100%;
      min-height: 50px;
      margin-top: 8px;
    }

    .mat-expansion-panel {
      box-shadow: none;
      &.advanced-logs {
        border: 1px groove rgba(0, 0, 0, .25);
        padding: 0;
        margin-bottom: 1.6em;

        .mat-expansion-panel-header {
          padding: 0 8px;
        }

        .mat-expansion-panel-body {
          padding: 0;
        }
      }
    }
  }
}
