<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form [formGroup]="coapTransportConfigurationFormGroup" style="padding-bottom: 16px;">
  <section formGroupName="coapDeviceTypeConfiguration">
    <fieldset class="fields-group">
      <legend class="group-title" translate>device-profile.coap-device-type</legend>
      <div fxLayoutGap="8px" fxLayout="column">
        <mat-form-field class="mat-block">
          <mat-select formControlName="coapDeviceType" required>
            <mat-option *ngFor="let type of coapTransportDeviceTypes" [value]="type">
              {{ coapTransportDeviceTypeTranslations.get(type) | translate}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="coapTransportConfigurationFormGroup.get('coapDeviceTypeConfiguration.coapDeviceType').hasError('required')">
            {{ 'device-profile.coap-device-type-required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </fieldset>
    <div *ngIf="coapDeviceTypeDefault" formGroupName="transportPayloadTypeConfiguration">
      <fieldset class="fields-group">
        <legend class="group-title" translate>device-profile.coap-device-payload-type</legend>
        <div fxLayoutGap="8px" fxLayout="column">
          <mat-form-field class="mat-block">
            <mat-select formControlName="transportPayloadType" required>
              <mat-option *ngFor="let type of transportPayloadTypes" [value]="type">
                {{ transportPayloadTypeTranslations.get(type) | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="coapTransportConfigurationFormGroup.get('coapDeviceTypeConfiguration.transportPayloadTypeConfiguration.transportPayloadType').hasError('required')">
              {{ 'device-profile.mqtt-payload-type-required' | translate }}
            </mat-error>
          </mat-form-field>
          <div *ngIf="protoPayloadType" fxLayout="column">
            <ng-container>
              <tb-protobuf-content
                fxFlex
                formControlName="deviceTelemetryProtoSchema"
                label="{{ 'device-profile.telemetry-proto-schema' | translate }}"
                [fillHeight]="true">
              </tb-protobuf-content>
              <mat-error *ngIf="coapTransportConfigurationFormGroup.get('coapDeviceTypeConfiguration.transportPayloadTypeConfiguration.deviceTelemetryProtoSchema').hasError('required')">
                {{ 'device-profile.telemetry-proto-schema-required' | translate}}
              </mat-error>
            </ng-container>
            <ng-container>
              <tb-protobuf-content
                fxFlex
                formControlName="deviceAttributesProtoSchema"
                label="{{ 'device-profile.attributes-proto-schema' | translate }}"
                [fillHeight]="true">
              </tb-protobuf-content>
              <mat-error *ngIf="coapTransportConfigurationFormGroup.get('coapDeviceTypeConfiguration.transportPayloadTypeConfiguration.deviceAttributesProtoSchema').hasError('required')">
                {{ 'device-profile.attributes-proto-schema-required' | translate}}
              </mat-error>
            </ng-container>
            <ng-container>
              <tb-protobuf-content
                fxFlex
                formControlName="deviceRpcRequestProtoSchema"
                label="{{ 'device-profile.rpc-request-proto-schema' | translate }}"
                [fillHeight]="true">
              </tb-protobuf-content>
              <mat-error *ngIf="coapTransportConfigurationFormGroup.get('coapDeviceTypeConfiguration.transportPayloadTypeConfiguration.deviceRpcRequestProtoSchema').hasError('required')">
                {{ 'device-profile.rpc-request-proto-schema-required' | translate}}
              </mat-error>
            </ng-container>
            <ng-container>
              <tb-protobuf-content
                fxFlex
                formControlName="deviceRpcResponseProtoSchema"
                label="{{ 'device-profile.rpc-response-proto-schema' | translate }}"
                [fillHeight]="true">
              </tb-protobuf-content>
              <mat-error *ngIf="coapTransportConfigurationFormGroup.get('coapDeviceTypeConfiguration.transportPayloadTypeConfiguration.deviceRpcResponseProtoSchema').hasError('required')">
                {{ 'device-profile.rpc-response-proto-schema-required' | translate}}
              </mat-error>
            </ng-container>
          </div>
        </div>
      </fieldset>
    </div>
  </section>
  <section formGroupName="clientSettings">
    <fieldset class="fields-group">
      <legend class="group-title" translate>device-profile.power-saving-mode</legend>
      <tb-power-mode-settings [parentForm]="clientSettingsFormGroup">
      </tb-power-mode-settings>
    </fieldset>
  </section>
</form>
