<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form [formGroup]="mqttDeviceProfileTransportConfigurationFormGroup" style="padding-bottom: 16px;">
  <fieldset class="fields-group">
    <legend class="group-title" translate>device-profile.mqtt-device-topic-filters</legend>
    <div fxLayoutGap="8px" fxLayout="column">
      <div fxLayout="row" fxLayoutGap="8px" fxLayout.xs="column">
        <mat-form-field fxFlex>
          <mat-label translate>device-profile.telemetry-topic-filter</mat-label>
          <input matInput required
                 formControlName="deviceTelemetryTopic"
                 type="text">
          <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('deviceTelemetryTopic').hasError('required')">
            {{ 'device-profile.telemetry-topic-filter-required' | translate}}
          </mat-error>
          <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('deviceTelemetryTopic').hasError('invalidSingleTopicCharacter')">
            {{ 'device-profile.not-valid-single-character' | translate}}
          </mat-error>
          <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('deviceTelemetryTopic').hasError('invalidMultiTopicCharacter')">
            {{ 'device-profile.not-valid-multi-character' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label translate>device-profile.attributes-topic-filter</mat-label>
          <input matInput required
                 formControlName="deviceAttributesTopic"
                 type="text">
          <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('deviceAttributesTopic').hasError('required')">
            {{ 'device-profile.attributes-topic-filter-required' | translate}}
          </mat-error>
          <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('deviceAttributesTopic').hasError('invalidSingleTopicCharacter')">
            {{ 'device-profile.not-valid-single-character' | translate}}
          </mat-error>
          <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('deviceAttributesTopic').hasError('invalidMultiTopicCharacter')">
            {{ 'device-profile.not-valid-multi-character' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.hasError('unique')">
        {{ 'device-profile.mqtt-device-topic-filters-unique' | translate }}
      </mat-error>
      <div class="tb-hint" innerHTML="{{ 'device-profile.support-level-wildcards' | translate }}"></div>
      <div class="tb-hint" innerHTML="{{ 'device-profile.single-level-wildcards-hint' | translate }}"></div>
      <div class="tb-hint" innerHTML="{{ 'device-profile.multi-level-wildcards-hint' | translate }}"></div>
    </div>
  </fieldset>
  <section formGroupName="transportPayloadTypeConfiguration">
    <fieldset class="fields-group">
      <legend class="group-title" translate>device-profile.mqtt-device-payload-type</legend>
      <div fxLayoutGap="8px" fxLayout="column">
        <mat-form-field class="mat-block">
          <mat-select formControlName="transportPayloadType" required>
            <mat-option *ngFor="let type of transportPayloadTypes" [value]="type">
              {{transportPayloadTypeTranslations.get(type) | translate}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('transportPayloadTypeConfiguration.transportPayloadType').hasError('required')">
            {{ 'device-profile.mqtt-payload-type-required' | translate }}
          </mat-error>
        </mat-form-field>
        <div *ngIf="protoPayloadType" style="padding-bottom: 20px">
          <mat-checkbox formControlName="enableCompatibilityWithJsonPayloadFormat">
            {{ 'device-profile.mqtt-enable-compatibility-with-json-payload-format' | translate }}
          </mat-checkbox>
          <div class="tb-hint" innerHTML="{{ 'device-profile.mqtt-enable-compatibility-with-json-payload-format-hint' | translate }}"></div>
          <div *ngIf="compatibilityWithJsonPayloadFormatEnabled">
            <mat-checkbox formControlName="useJsonPayloadFormatForDefaultDownlinkTopics">
              {{ 'device-profile.mqtt-use-json-format-for-default-downlink-topics' | translate }}
            </mat-checkbox>
            <div class="tb-hint" innerHTML="{{ 'device-profile.mqtt-use-json-format-for-default-downlink-topics-hint' | translate }}"></div>
          </div>
        </div>
        <div *ngIf="protoPayloadType" fxLayout="column">
          <ng-container>
            <tb-protobuf-content
              fxFlex
              formControlName="deviceTelemetryProtoSchema"
              label="{{ 'device-profile.telemetry-proto-schema' | translate }}"
              [fillHeight]="true">
            </tb-protobuf-content>
            <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('transportPayloadTypeConfiguration.deviceTelemetryProtoSchema').hasError('required')">
              {{ 'device-profile.telemetry-proto-schema-required' | translate}}
            </mat-error>
          </ng-container>
          <ng-container>
            <tb-protobuf-content
              fxFlex
              formControlName="deviceAttributesProtoSchema"
              label="{{ 'device-profile.attributes-proto-schema' | translate }}"
              [fillHeight]="true">
            </tb-protobuf-content>
            <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('transportPayloadTypeConfiguration.deviceAttributesProtoSchema').hasError('required')">
              {{ 'device-profile.attributes-proto-schema-required' | translate}}
            </mat-error>
          </ng-container>
          <ng-container>
            <tb-protobuf-content
              fxFlex
              formControlName="deviceRpcRequestProtoSchema"
              label="{{ 'device-profile.rpc-request-proto-schema' | translate }}"
              [fillHeight]="true">
            </tb-protobuf-content>
            <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('transportPayloadTypeConfiguration.deviceRpcRequestProtoSchema').hasError('required')">
              {{ 'device-profile.rpc-request-proto-schema-required' | translate}}
            </mat-error>
          </ng-container>
          <ng-container>
            <tb-protobuf-content
              fxFlex
              formControlName="deviceRpcResponseProtoSchema"
              label="{{ 'device-profile.rpc-response-proto-schema' | translate }}"
              [fillHeight]="true">
            </tb-protobuf-content>
            <mat-error *ngIf="mqttDeviceProfileTransportConfigurationFormGroup.get('transportPayloadTypeConfiguration.deviceRpcResponseProtoSchema').hasError('required')">
              {{ 'device-profile.rpc-response-proto-schema-required' | translate}}
            </mat-error>
          </ng-container>
        </div>
      </div>
    </fieldset>
  </section>
</form>
