<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div style="min-width: 400px; position: relative">
  <mat-toolbar fxLayout="row" color="primary">
    <h2>{{ "dashboard.public-dashboard-title" | translate }}</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button (click)="close()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div style="height: 4px" *ngIf="!(isLoading$ | async)"></div>
  <div
    mat-dialog-content
    tb-toast
    toastTarget="makeDashboardPublicDialogContent"
  >
    <span
      innerHTML="{{
        translate.get('dashboard.public-dashboard-text', {
          dashboardTitle: dashboard.title,
          publicLink: publicLink
        }) | async
      }}"
    >
    </span>
    <div fxLayout="row" fxLayoutAlign="start center">
      <pre class="tb-highlight" fxFlex><code>{{ publicLink }}</code></pre>
      <button
        mat-button
        mat-icon-button
        ngxClipboard
        (cbOnSuccess)="onPublicLinkCopied($event)"
        cbContent="{{ publicLink }}"
        matTooltipPosition="above"
        matTooltip="{{ 'dashboard.copy-public-link' | translate }}"
      >
        <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
      </button>
    </div>
    <div
      class="tb-notice"
      innerHTML="{{ 'dashboard.public-dashboard-notice' | translate }}"
    ></div>
    <tb-social-share-panel
      style="padding-top: 15px"
      shareTitle="{{
        'dashboard.socialshare-title'
          | translate: { dashboardTitle: dashboard.title }
      }}"
      shareText="{{
        'dashboard.socialshare-text'
          | translate: { dashboardTitle: dashboard.title }
      }}"
      shareLink="{{ publicLink }}"
      shareHashTags="thingsboard, iot"
    >
    </tb-social-share-panel>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="isLoading$ | async"
      (click)="close()"
      cdkFocusInitial
    >
      {{ "action.ok" | translate }}
    </button>
  </div>
</div>
