<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="container">
  <div class="content">
    <div class="header">
      <div class="logo_container">
        <figure class="logo_placeholder">
          <img class="logo" src="/assets/Unalink-Logo-White.png" alt="Logo" />
        </figure>
      </div>
      <div class="title">
        <span>Welcome to</span>
        <strong>UNALINK IoT Platform</strong>
      </div>
    </div>
    <div class="gif_container">
      <figure class="gif_placeholder">
        <img class="gif" src="/assets/Comp-5_1.gif" alt="Gif" />
      </figure>
    </div>
    <div>
      <form
        action=""
        class="form"
        [formGroup]="loginFormGroup"
        (ngSubmit)="login()"
      >
        <div>
          <div class="input_container">
            <input
              class="input_box"
              type="email"
              autofocus
              email
              required
              id="username-input"
              formControlName="username"
              placeholder=" "
            />
            <label for="username-input" class="input_title">Email</label>
          </div>
          <div class="input_container">
            <input
              class="input_box"
              type="password"
              password
              required
              id="password-input"
              formControlName="password"
              placeholder=" "
            />
            <label for="password-input" class="input_title">Password</label>
          </div>
        </div>
        <div style="down_container">
          <div>
            <div>
              <input type="checkbox" />
              <label>Remember me</label>
            </div>
            <div><a href="/login/resetPassword">Forgot Password?</a></div>
          </div>
          <button
            [disabled]="isLoading$ | async"
            class="login"
            type="submit"
            class="login_button"
          >
            <span *ngIf="!(isLoading$ | async)">{{
              "login.login" | translate
            }}</span>
            <span *ngIf="isLoading$ | async">Loading...</span>
          </button>
          <span>Don't have an account? <a href="#">Register</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
