/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "left_container login_form";
  width: 100vw;
  height: 100vh;
  > .information {
    grid-area: left_container;
    background-image: url("/assets/background-login-iot.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    @media only screen and (max-width: 1201px) {
      display: none;
    }
  }
  > .login_container {
    background-color: var(--primary-four);
    grid-column: 5/8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > .logo {
      margin-bottom: 4.5vh;
      width: max-content;
      display: flex;
      margin-bottom: 6.5vh;
      & > img {
        width: 75%;
      }
      @media only screen and (max-width: 512px) {
        & > img {
          width: 90vw;
        }
      }
    }
    > .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & > .login_error {
        color: #b33030;
        padding: 1em;
        font-weight: bold;
        letter-spacing: 2px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        &:empty {
          display: none;
        }
      }
      > .input_container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 2.6vh 0px;
        width: max-content;
        height: max-content;
        > .input_title {
          font-weight: bold;
          font-size: 1rem;
          color: #7c99ac;
          position: absolute;
          top: 30%;
          left: 5%;
          transition-property: top, left;
          transition: 400ms ease;
          @media only screen and (max-width: 1201px) {
            top: 35%;
          }
        }
        > .input_box:hover + .input_title,
        .input_box:focus + .input_title,
        .input_box:not(:placeholder-shown) + .input_title {
          top: -1.1vw !important;
          left: 0 !important;
          @media only screen and (max-width: 1201px) {
            top: -1.9vw !important;
          }
        }
        > .input_box {
          --width: 21vw;
          --height: 5vh;
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px var(--primary-four) inset !important;
          }
          border: 0;
          width: var(--width);
          height: var(--height);
          background-color: var(--primary-four);
          border: 2px solid #d3dedc;
          color: #d3dedc;
          padding: 0.9vw;
          border-radius: 4px;
          font-weight: normal;
          transition: 400ms ease;
          font-size: 0.95rem;

          &:focus,
          &:hover {
            position: relative;
            outline: none;
            border-color: #7c99ac;
            color: #7c99ac;
          }
          @media only screen and (max-width: 1201px) {
            & {
              width: 45vw !important;
              height: 8vh !important;
              font-size: 1.1rem;
            }
          }
          @media only screen and (max-width: 792px) {
            & {
              width: 70vw !important;
            }
          }
          @media only screen and (max-width: 512px) {
            & {
              width: 90vw !important;
            }
          }
        }
      }
      .password_forgot {
        margin: 1vh 0vw;
        font-weight: 300;
        font-size: 0.9rem;
      }
      .login {
        color: #7c99ac;
        background-color: white;
        border: 2px solid #d3dedc;
        border-radius: 7px;
        font-weight: bold;
        font-size: 1.3rem;
        padding: 1vh 3vw;
        cursor: pointer;
        margin-top: 1vh;
        transition: 400ms ease;
        &:disabled {
          filter: grayscale(0.6);
          cursor: progress;
        }
        &:hover {
          border-color: #7c99ac;
        }
        @media only screen and (max-width: 1201px) {
          & {
            width: 45vw;
          }
        }
        @media only screen and (max-width: 792px) {
          & {
            width: 70vw;
          }
        }
        @media only screen and (max-width: 512px) {
          & {
            width: 90vw !important;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 100vw;
  }
}
.svg_container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: none;
  img {
    width: 35vw;
  }
  @media only screen and (max-width: 1201px) {
    display: none;
  }
}
