<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="container">
  <div class="information"></div>
  <div class="login_container">
    <figure class="logo">
      <img src="/assets/logo_title_white.svg" />
    </figure>
    <form class="form" [formGroup]="loginFormGroup" (ngSubmit)="login()">
      <div class="login_error">
        <div
          *ngIf="
            loginFormGroup.get('username').invalid &&
            loginFormGroup.get('username').value != ''
          "
        >
          {{ "user.invalid-email-format" | translate }}
        </div>
      </div>
      <div class="input_container">
        <input
          class="input_box"
          type="email"
          autofocus
          email
          required
          id="username-input"
          formControlName="username"
          placeholder=" "
        />
        <label for="password-input" class="input_title">Email</label>
      </div>
      <div class="input_container">
        <input
          class="input_box"
          type="password"
          password
          required
          id="password-input"
          formControlName="password"
          placeholder=" "
        />
        <label for="password-input" class="input_title">Password</label>
      </div>
      <div class="password_forgot">
        <a routerLink="/login/resetPasswordRequest">
          {{ "login.forgot-password" | translate }}
        </a>
      </div>
      <button [disabled]="isLoading$ | async" class="login" type="submit">
        <span *ngIf="!(isLoading$ | async)">{{
          "login.login" | translate
        }}</span>
        <span *ngIf="isLoading$ | async">Loading...</span>
      </button>
    </form>
  </div>
</div>
<div class="svg_container">
  <figure>
    <img src="/assets/login.svg" />
  </figure>
</div>
