/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif !important;
  background-color: white;
  .content {
    min-height: max-content;
    background-color: #0072bc;
    width: clamp(27rem, 97vw, 60rem);
    height: clamp(59rem, 98vh, 62rem);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0vw;
    > .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 clamp(1.5rem, 100vw, 2rem);
      padding-top: 1em;
      > .logo_container {
        margin: 0;
        padding: 0;
        .logo_placeholder {
          margin: 0;
          padding: 0;
          .logo {
            width: 36vw;
          }
        }
      }
      > .title {
        display: flex;
        flex-direction: column;
        > * {
          color: white;
        }
        span {
          font-weight: normal;
          font-size: 0.9rem;
        }
        strong {
          font-weight: bolder;
          font-size: 1rem;
          height: min-content;
          margin: 0;
        }
      }
    }
    > .gif_container {
      width: 100%;
      margin-top: 3em;
      > .gif_placeholder {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        > .gif {
          width: 85%;
        }
      }
    }
    > div > .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 7px;
      background-color: white;
      padding: 4vh 0;
      width: clamp(25rem, 89vw, 43rem);
      margin: 0 auto;
      height: clamp(22rem, 38vh, 23rem);
      > div:first-child {
        display: flex;
        flex-direction: column;
        > .input_container {
          display: flex;
          flex-direction: column;
          position: relative;
          & + .input_container {
            margin-top: 2em;
          }
          > .input_box {
            width: clamp(22rem, 85vw, 39rem);
            height: clamp(4rem, 5vh, 5rem);
            border-radius: 3px;
            background-color: #ececec;
            padding: 0.8em;
            outline: none;
            font-size: clamp (0.7rem, 3vw, 0.9rem);
            border: 0;
            & + .input_title {
              position: absolute;
              font-weight: 400;
              font-size: 0.8rem;
              opacity: 0.8;
              top: 0.3em;
              left: 1em;
            }
          }
        }
      }
      > div:last-child {
        margin: 0 auto;
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        > div:first-child {
          margin-bottom: 1vh;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          font-weight: 400;
          font-size: clamp(0.7rem, 3vw, 0.8rem);
          > div:first-child {
            display: flex;
            flex-direction: row;
            align-items: center;
            a {
              font-size: clamp(0.7rem, 3vw, 0.8rem);
              font-weight: 400;
              text-decoration: none;
            }
          }
        }
        > .login_button {
          background-color: #0072bc;
          color: white;
          width: clamp(22rem, 85vw, 39rem);
          height: clamp(4rem, 5vh, 5rem);
          opacity: 0.9;
          transition: 400ms ease;
          transition-property: opacity;
          border-radius: 9px;
          font-weight: 600;
          &:active {
            outline: none;
            opacity: 1;
          }
        }
        > span {
          font-weight: 400;
          font-size: clamp(0.7rem, 3vw, 0.8rem);
          align-self: center;
          margin-top: 1.5vh;
        }
      }
    }
  }
  @media only screen and (min-width: 768px) {
    .content {
      height: clamp(60rem, 100vh, 60.5rem);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      > .header {
        margin-top: 3vh;
        > .title {
          > span {
            font-size: 1.3rem;
          }
          > strong {
            font-size: 1.8rem;
          }
        }
      }
      > .gif_container {
        > .gif_placeholder {
          > .gif {
            width: clamp(37rem, 50vw, 38rem);
          }
        }
      }
      > div > .form {
        margin: 0 auto;
        height: clamp(24rem, 32vh, 19.5rem);
        > div:first-child {
          > .input_container {
            > .input_box {
              width: clamp(38rem, 59vw, 38.5rem);
              height: clamp(3.5rem, 5vh, 4rem);
              font-size: 1rem;
              font-weight: 700;
              padding: 2em 1em;
              & + .input_title {
                font-size: 1rem;
                top: 0.1em;
              }
            }
          }
        }
        > div:last-child {
          width: max-content;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          > div:first-child {
            font-size: 1.1rem;
          }
          > .login_button {
            width: clamp(38rem, 59vw, 38.5rem);
            height: clamp(3.5rem, 5vh, 4rem);
            font-size: 1.2rem;
            padding: 1.5vh 0;
          }
          > span {
            font-size: 1rem;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    .content {
      margin: 4vh 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 4vh;
      height: clamp(58rem, 93vh, 62rem);
      width: clamp(66rem, 96vw, 116rem);
      .header {
        > .logo_container {
          .logo_placeholder {
            .logo {
              width: min(200px, 100vw, 232px);
            }
          }
        }
      }
      > .gif_container {
        > .gif_placeholder {
          > .gif {
            width: min(635px, 100%, 637px);
          }
        }
      }
      > div > .form {
        flex-direction: row;
        padding: 0 2em;
        width: clamp(65rem, 95vw, 102rem);
        height: clamp(12rem, 31vh, 15rem);
        margin: auto;
        > div:first-child {
          margin-right: 2em;
          > .input_container {
            > .input_box {
              width: clamp(29rem, 41vw, 47rem);
              height: clamp(4rem, 100vh, 3rem);
              padding: clamp(1.4rem, 1vh, 1.5rem) clamp(1rem, 1vw, 1.2rem);
            }
          }
        }
        > div:last-child {
          display: flex;
          align-items: center;
          width: max-content;
          margin: 0 auto;
          flex-direction: column;
          margin-top: 0;
          > div:first-child {
            margin-bottom: 12px;
            font-size: clamp(0.95rem, 2vw, 1rem);
            input {
              margin-right: (0.7rem, 0.6vw, 0.6rem);
            }
          }
          > .login_button {
            transition-property: color;
            width: clamp(29rem, 41vw, 47rem);
            height: clamp(4rem, 100vh, 3rem);
            font-size: clamp(1.2rem, 1.5vw, 1.4rem);
          }
          > span {
            margin-top: 12px;
            font-size: clamp(0.9rem, 2vw, 1rem);
          }
        }
      }
    }
    @media only screen and (max-height: 840px) {
      .content {
        margin-top: 10vh;
      }
    }
  }
  @media only screen and (min-width: 2001px) {
    .content {
      .header {
        .logo_container {
          .logo_placeholder {
            .logo {
              width: min(350px, 100vw, 400px);
            }
          }
        }
        .title {
          span {
            font-size: 1.7rem;
          }
          title {
            font-size: 2.3rem;
          }
        }
      }
      > .gif_container {
        > .gif_placeholder {
          > .gif {
            width: min(1200px, 100vw, 1300px);
          }
        }
      }
      > div > .form {
        width: min(1400px, 100vw, 1500px);
        height: min(260px, 100vw, 270px);
        > div:first-child {
          > .input_container {
            > .input_box {
              width: min(650px, 100vw);
              height: min(80px, 100vw, 90px);
            }
          }
        }
        > div:last-child {
          .login_button {
            width: min(650px, 100vw);
            height: min(80px, 100vw, 90px);
            margin: min(10px, 100vw, 15px) 0;
          }
        }
      }
    }
  }
}
