<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="container">
  <div class="information"></div>
  <div class="login_container">
    <figure class="logo">
      <img src="/assets/logo_title_white.svg" />
    </figure>
    <form
      class="form"
      [formGroup]="requestPasswordRequest"
      (ngSubmit)="sendResetPasswordLink()"
    >
      <fieldset [disabled]="isLoading$ | async">
        <div tb-toast fxLayout="column" class="layout-padding">
          <span style="height: 50px"></span>
          <mat-form-field class="mat-block" hideRequiredMarker>
            <mat-label translate>login.email</mat-label>
            <input
              matInput
              type="email"
              autofocus
              formControlName="email"
              email
              required
            />
            <mat-icon class="material-icons" matPrefix>email</mat-icon>
            <mat-error *ngIf="requestPasswordRequest.get('email').invalid">
              {{ "user.invalid-email-format" | translate }}
            </mat-error>
          </mat-form-field>
          <div
            fxLayout="column"
            fxLayout.gt-xs="row"
            fxLayoutGap="16px"
            fxLayoutAlign="start center"
            fxLayoutAlign.gt-xs="center start"
          >
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="(isLoading$ | async) || this.clicked"
            >
              {{ "login.request-password-reset" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              type="button"
              [disabled]="isLoading$ | async"
              routerLink="/login"
            >
              {{ "action.cancel" | translate }}
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="svg_container">
  <figure>
    <img src="/assets/login.svg" />
  </figure>
</div>
