/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left_container login_form";
  width: 100vw;
  height: 100vh;
  > .information {
    grid-area: left_container;
    background-color: var(--primary-one);
    @media only screen and (max-width: 1201px) {
      display: none;
    }
  }
  > .login_container {
    background-color: var(--primary-four);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > .logo {
      margin-bottom: 6.5vh;
      @media only screen and (max-width: 512px) {
        & > img {
          width: 90vw;
        }
      }
    }
    > .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > .input_container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 1.6vh 0px;
        width: max-content;
        height: max-content;
        > .input_title {
          font-weight: bold;
          font-size: 1rem;
          color: var(--primary-one);
        }

        > .input_box {
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px var(--primary-three) inset !important;
            color: var(--primary-four);
            border: 0;
            width: 24vw;
            height: 6vh;
            padding: 0.9vw;
            border-radius: 4px;
            font-weight: normal;
            font-size: 1.3rem;
            background: var(--primary-three);
          }
          border: 0;
          width: 24vw;
          height: 6vh;
          background-color: var(--primary-three);
          padding: 0.9vw;
          border-radius: 4px;
          font-weight: normal;
          transition: 400ms ease;
          font-size: 1.3rem;

          &:focus,
          &:hover {
            outline: none;
            scale: 1.01;
          }
          @media only screen and (max-width: 1201px) {
            & {
              width: 45vw !important;
              height: 8vh !important;
              font-size: 1.1rem;
            }
          }
          @media only screen and (max-width: 792px) {
            & {
              width: 70vw !important;
            }
          }
          @media only screen and (max-width: 512px) {
            & {
              width: 90vw !important;
            }
          }
        }
      }
      .reset_button {
        color: var(--primary-four);
        background-color: var(--primary-three);
        border: 0;
        border-radius: 7px;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 1.5vh 1vw;
        cursor: pointer;
        margin-top: 1vh;
        transition: 400ms ease;
        &:hover {
          scale: 1.05;
        }
        @media only screen and (max-width: 1201px) {
          & {
            width: 45vw;
          }
        }
        @media only screen and (max-width: 792px) {
          & {
            width: 70vw;
          }
        }
        @media only screen and (max-width: 512px) {
          & {
            width: 90vw !important;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 100vw;
  }
}
.svg_container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  img {
    width: 35vw;
  }
  @media only screen and (max-width: 1201px) {
    display: none;
  }
}
