/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.tb-json-input {
  width: 100%;
  height: 100%;
  padding: 5px;

  &__form {
    overflow: auto;
    height: 100%;
  }

  &__error {
    font-size: 18px;
    color: #a0a0a0;
  }
}

.tb-toast {
  font-size: 14px!important;
}
