/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.tb-web-camera {
  height: 100%;

  &__last-photo {
    width: 100%;
    min-height: 0;
    margin: 5px 0;
    text-align: center;
    border: solid 1px;

    &_text {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -.625em;
      transform: translate(-50%, -50%);
    }

    &_img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .camera-container{
    height: 100%;
  }

  .camera {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .camera-stream {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .camera-controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 5px 5px;

      .mat-button-base{
        margin: 6px 8px;
      }
    }
  }

  .message-text {
    font-size: 18px;
    color: #a0a0a0;
    text-align: center;
  }

  .image-container{
    height: 100%;
    min-height: 0;
    width: 100%;
    min-width: 100%;
  }
}
