/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  width: 100%;
  height: 100%;
  display: block;
  .tb-table-widget {
    mat-footer-row, mat-row {
      height: 38px;
    }
    mat-header-row {
      height: 40px;
    }
    mat-toolbar {
      z-index: 10;
    }
    span.no-data-found {
      height: calc(100% - 44px);
    }
  }
}

:host ::ng-deep {
  .tb-table-widget {
    .mat-tab-group {
      height: 100%;
      overflow: hidden;
    }
    .mat-tab-body-wrapper {
      height: 100%;
    }
    .mat-tab-body-content {
      display: flex;
      flex-direction: column;
    }
  }
}
