<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="tb-table-widget tb-absolute-fill">
  <div fxFlex fxLayout="column" class="tb-absolute-fill">
    <mat-toolbar class="mat-table-toolbar" [fxShow]="textSearchMode">
      <div class="mat-toolbar-tools">
        <button mat-button mat-icon-button
                matTooltip="{{ 'action.search' | translate }}"
                matTooltipPosition="above">
          <mat-icon>search</mat-icon>
        </button>
        <mat-form-field fxFlex>
          <mat-label>&nbsp;</mat-label>
          <input #searchInput matInput
                 [(ngModel)]="textSearch"
                 placeholder="{{ 'widget.search-data' | translate }}"/>
        </mat-form-field>
        <button mat-button mat-icon-button (click)="exitFilterMode()"
                matTooltip="{{ 'action.close' | translate }}"
                matTooltipPosition="above">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <mat-tab-group [ngClass]="{'tb-headless': sources.length === 1}" fxFlex
                   [(selectedIndex)]="sourceIndex" (selectedIndexChange)="onSourceIndexChanged()">
      <mat-tab *ngFor="let source of sources; trackBy: trackBySourcesIndex; let index = index;" [label]="getTabLabel(source)">
        <ng-template [ngIf]="isActiveTab(index)">
          <div fxFlex class="table-container">
            <table mat-table [dataSource]="source.timeseriesDatasource" [trackBy]="trackByRowTimestamp"
                       matSort [matSortActive]="source.pageLink.sortOrder.property" [matSortDirection]="source.pageLink.sortDirection()" matSortDisableClear>
              <ng-container *ngIf="showTimestamp" [matColumnDef]="'0'">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</mat-header-cell>
                <mat-cell *matCellDef="let row; let rowIndex = index"
                          [innerHTML]="cellContent(source, 0, row, row[0], rowIndex)"
                          [ngStyle]="cellStyle(source, 0, row, row[0], rowIndex)">
                </mat-cell>
              </ng-container>
              <ng-container [matColumnDef]="h.index + ''" *ngFor="let h of source.header; trackBy: trackByColumnIndex;">
                <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!h.sortable"> {{ h.dataKey.label }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let rowIndex = index"
                          [innerHTML]="cellContent(source, h.index, row, row[h.index], rowIndex)"
                          [ngStyle]="cellStyle(source, h.index, row, row[h.index], rowIndex)">
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions" [stickyEnd]="enableStickyAction">
                <mat-header-cell *matHeaderCellDef [ngStyle.gt-md]="{ minWidth: (source.timeseriesDatasource.countCellButtonAction * 40) + 'px',
                                                                      maxWidth: (source.timeseriesDatasource.countCellButtonAction * 40) + 'px',
                                                                      width: (source.timeseriesDatasource.countCellButtonAction * 40) + 'px' }">
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngStyle.gt-md]="{ minWidth: (source.timeseriesDatasource.countCellButtonAction * 40) + 'px',
                                                                   maxWidth: (source.timeseriesDatasource.countCellButtonAction * 40) + 'px',
                                                                   width: (source.timeseriesDatasource.countCellButtonAction * 40) + 'px' }">
                  <div fxHide fxShow.gt-md fxFlex fxLayout="row" fxLayoutAlign="end">
                    <ng-container *ngFor="let actionDescriptor of row.actionCellButtons; trackBy: trackByActionCellDescriptionId">
                      <span *ngIf="!actionDescriptor.icon" style="width: 40px;"></span>
                      <button *ngIf="actionDescriptor.icon"
                              mat-button mat-icon-button [disabled]="isLoading$ | async"
                              matTooltip="{{ actionDescriptor.displayName }}"
                              matTooltipPosition="above"
                              (click)="onActionButtonClick($event, row, actionDescriptor)">
                        <mat-icon>{{actionDescriptor.icon}}</mat-icon>
                      </button>
                    </ng-container>
                  </div>
                  <div fxHide fxShow.lt-lg *ngIf="row.hasActions">
                    <button mat-button mat-icon-button
                            (click)="$event.stopPropagation(); ctx.detectChanges();"
                            [matMenuTriggerFor]="cellActionsMenu">
                      <mat-icon class="material-icons">more_vert</mat-icon>
                    </button>
                    <mat-menu #cellActionsMenu="matMenu" xPosition="before">
                      <ng-container *ngFor="let actionDescriptor of row.actionCellButtons; trackBy: trackByActionCellDescriptionId">
                        <button mat-menu-item *ngIf="actionDescriptor.icon"
                                [disabled]="isLoading$ | async"
                                (click)="onActionButtonClick($event, row, actionDescriptor)">
                          <mat-icon>{{actionDescriptor.icon}}</mat-icon>
                          <span>{{ actionDescriptor.displayName }}</span>
                        </button>
                      </ng-container>
                    </mat-menu>
                  </div>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="source.displayedColumns; sticky: enableStickyHeader"></mat-header-row>
              <mat-row *matRowDef="let row; columns: source.displayedColumns; let rowIndex = index"
                       [ngStyle]="rowStyle(source, row, rowIndex)"
                       (click)="onRowClick($event, row)"></mat-row>
            </table>
            <span [fxShow]="source.timeseriesDatasource.isEmpty() | async"
                  fxLayoutAlign="center center"
                  class="no-data-found">{{ noDataDisplayMessageText }}</span>
          </div>
          <mat-divider *ngIf="displayPagination"></mat-divider>
          <mat-paginator *ngIf="displayPagination"
                         [length]="source.timeseriesDatasource.total() | async"
                         [pageIndex]="source.pageLink.page"
                         [pageSize]="source.pageLink.pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         [hidePageSize]="hidePageSize"
                         showFirstLastButtons></mat-paginator>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
