/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  .dashboard-state-dialog {
    .mat-dialog-content.dashboard-state-dialog-content {
      max-height: 100%;
    }

    @media screen and (max-width: 599px) {
      width: 100% !important;
      height: 100% !important;
    }

    @media screen and (min-width: 600px) {
      width: 480px;
      height: 600px;
    }

    @media screen and (min-width: 960px) {
      width: 768px;
      height: 600px;
    }

    @media screen and (min-width: 1280px) {
      width: 1000px;
      height: 800px;
    }
  }
}
