/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  display: flex;
  height: 100%;

  .date-range-navigator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;

    .drn__element {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 100%;
      height: 60px;
      margin: 4px 0;
    }

    .picker {
      .picker__wrapper {
        position: relative;
        max-width: 100%;
        padding: 2px;

        > label {
          position: absolute;
          right: -3px;
          bottom: 100%;
          left: 0;
          padding-left: 3px;
          color: #787878;
          transform: scale(.75);
          transform-origin: left bottom;
        }
      }

      .md-select-value {
        min-width: 225px;
        border-color: #e1e1e1;

        .md-select-icon {
          color: #757575;
        }
      }
    }

    &.short-mode {
      display: block;
      width: 90%;

      .drn__element {
        width: 100%;
      }

      .picker {
        .picker__wrapper {
          width: 100%;
        }

        .md-select-value {
          min-width: initial;
        }
      }

      &.labels-hidden {
        .drn__element {
          margin: 0;
        }
      }
    }

    &.long-mode {
      &.labels-hidden {
        .drn__element {
          height: 36px;
        }
      }
    }
  }
}
