<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<header>
  <mat-toolbar
    class="details-toolbar"
    color="primary"
    [ngStyle]="{ height: headerHeightPx + 'px' }"
  >
    <div
      class="mat-toolbar-tools"
      fxLayout="row"
      fxLayoutAlign="start center"
      style="height: 100%"
    >
      <div
        class="mat-toolbar-tools tb-details-title-header"
        fxFlex
        fxLayout="column"
        fxLayoutAlign="start start"
        [fxHide]="showSearchPane"
      >
        <div
          class="tb-details-title"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <ng-content select=".prefix-title-buttons"></ng-content>
          <span>{{ headerTitle }}</span>
        </div>
        <span class="tb-details-subtitle">{{ headerSubtitle }}</span>
        <span style="width: 100%">
          <ng-content select=".header-pane"></ng-content>
        </span>
      </div>
      <div
        *ngIf="isShowSearch"
        [fxHide]="!showSearchPane"
        fxLayout="row"
        fxLayoutAlign="start center"
        style="width: 100%"
      >
        <button mat-button mat-icon-button (click)="onToggleSearch()">
          <mat-icon class="material-icons">arrow_back</mat-icon>
        </button>
        <div style="width: 100%; margin: 0 20px">
          <ng-content select=".search-pane"></ng-content>
        </div>
      </div>
      <button
        mat-button
        mat-icon-button
        *ngIf="isShowSearch && !showSearchPane"
        (click)="onToggleSearch()"
      >
        <mat-icon class="material-icons">search</mat-icon>
      </button>
      <ng-content select=".details-buttons"></ng-content>
      <button mat-button mat-icon-button (click)="onCloseDetails()">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    </div>
    <section
      *ngIf="!isReadOnly"
      fxLayout="row"
      class="layout-wrap tb-header-buttons"
    >
      <button
        [disabled]="(isLoading$ | async) || theForm?.invalid || !theForm?.dirty"
        mat-fab
        matTooltip="{{ 'action.apply-changes' | translate }}"
        matTooltipPosition="above"
        color="accent"
        class="tb-btn-header mat-fab-bottom-right"
        [ngClass]="{ 'tb-hide': !isEdit }"
        (click)="onApplyDetails()"
      >
        <mat-icon class="material-icons">done</mat-icon>
      </button>
      <button
        [disabled]="(isLoading$ | async) || (isAlwaysEdit && !theForm?.dirty)"
        mat-fab
        matTooltip="{{
          (isAlwaysEdit ? 'action.decline-changes' : 'details.toggle-edit-mode')
            | translate
        }}"
        matTooltipPosition="above"
        color="accent"
        class="tb-btn-header mat-fab-bottom-right"
        (click)="onToggleDetailsEditMode()"
      >
        <mat-icon class="material-icons">{{
          isEdit ? "close" : "edit"
        }}</mat-icon>
      </button>
    </section>
  </mat-toolbar>
</header>
<div
  fxFlex
  class="mat-content"
  [ngStyle]="{ backgroundColor: backgroundColor }"
>
  <ng-content></ng-content>
</div>
