/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import '../../../../scss/constants';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .mat-toolbar.details-toolbar {
    padding: 0;
  }
}

:host ::ng-deep {
  .mat-toolbar-tools {
    height: 100%;
    min-height: 60px;
    max-height: 120px;
    &.tb-details-title-header {
      min-width: 0;
    }
  }
  .tb-details-title {
    width: inherit;
    margin: 20px 8px 0 0;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media #{$mat-gt-sm} {
      font-size: 1.5rem;
    }
  }

  .tb-details-subtitle {
    width: inherit;
    margin: 10px 0;
    overflow: hidden;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .8;
  }

  tb-dashboard {
    .tb-dashboard-content {
      background-color: $primary-hue-3 !important;
    }
  }
}
