/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  .fields-group {
    padding: 0 8px 8px;
    margin: 10px 0;
    border: 1px groove rgba(0, 0, 0, .25);
    border-radius: 4px;
    legend {
      color: rgba(0, 0, 0, .7);
      width: fit-content;
    }
  }
}

:host ::ng-deep {
  .mat-slide-toggle-content {
    white-space: normal;
  }
  .mat-expansion-panel {
    &.tb-settings {
      box-shadow: none;
      .mat-content {
        overflow: visible;
      }
      .mat-expansion-panel-header {
        padding: 0;
        &:hover {
          background: none;
        }
        .mat-expansion-indicator {
          padding: 2px;
        }
      }
      .mat-expansion-panel-header-description {
        align-items: center;
      }
      .mat-expansion-panel-body{
        padding: 0;
      }
      .tb-css-content-panel {
        margin: 0 0 8px;
      }
    }
    .mat-expansion-panel-content {
      font: inherit;
    }
  }
}
