<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<form (ngSubmit)="save()">
  <mat-toolbar color="primary">
    <h2 translate>dashboard.update-image</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button (click)="cancel()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  >
  </mat-progress-bar>
  <div mat-dialog-content style="position: relative">
    <fieldset
      [disabled]="(isLoading$ | async) || (takingScreenshot$ | async)"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
    >
      <div
        [formGroup]="dashboardRectFormGroup"
        fxLayout="column"
        fxLayoutGap="8px"
        fxLayoutAlign="center center"
      >
        <mat-form-field class="rect-field">
          <mat-label>Top %</mat-label>
          <input
            matInput
            formControlName="top"
            type="number"
            step="1"
            min="0"
            max="100"
          />
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
          <mat-form-field class="rect-field">
            <mat-label>Left %</mat-label>
            <input
              matInput
              formControlName="left"
              type="number"
              step="1"
              min="0"
              max="100"
            />
          </mat-form-field>
          <div class="tb-image-preview-container">
            <div *ngIf="!safeImageUrl; else elseBlock">
              {{ "dashboard.no-image" | translate }}
            </div>
            <ng-template #elseBlock
              ><img class="tb-image-preview" [src]="safeImageUrl"
            /></ng-template>
          </div>
          <mat-form-field class="rect-field">
            <mat-label>Right %</mat-label>
            <input
              matInput
              formControlName="right"
              type="number"
              step="1"
              min="0"
              max="100"
            />
          </mat-form-field>
        </div>
        <mat-form-field class="rect-field">
          <mat-label>Bottom %</mat-label>
          <input
            matInput
            formControlName="bottom"
            type="number"
            step="1"
            min="0"
            max="100"
          />
        </mat-form-field>
      </div>
      <div
        [formGroup]="dashboardRectFormGroup"
        fxFlex
        fxLayout="row"
        fxLayoutGap="8px"
      ></div>
      <button
        mat-raised-button
        color="accent"
        type="button"
        [disabled]="(isLoading$ | async) || (takingScreenshot$ | async)"
        (click)="takeScreenShot()"
      >
        {{ "dashboard.take-screenshot" | translate }}
      </button>
      <div [formGroup]="dashboardImageFormGroup">
        <tb-image-input
          [showPreview]="false"
          label="{{ 'dashboard.image' | translate }}"
          formControlName="dashboardImage"
        >
        </tb-image-input>
      </div>
    </fieldset>
    <div
      *ngIf="takingScreenshot$ | async"
      class="taking-screenshot-progress tb-absolute-fill"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-progress-spinner
        color="accent"
        mode="indeterminate"
      ></mat-progress-spinner>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="(isLoading$ | async) || (takingScreenshot$ | async)"
      (click)="cancel()"
      cdkFocusInitial
    >
      {{ "action.cancel" | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="
        (isLoading$ | async) ||
        (takingScreenshot$ | async) ||
        !dashboardImageFormGroup.dirty
      "
    >
      {{ "action.update" | translate }}
    </button>
  </div>
</form>
