/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  min-width: 0;

  .tb-breadcrumb {
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;

    h1,
    a,
    span:not(.divider) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h1 {
      font-size: 24px;
      font-weight: 400;
    }

    a {
      border: none;
      opacity: .75;
      transition: opacity .35s;
      color: inherit;
      text-decoration: none;
      outline: none;
    }

    a:hover,
    a:focus {
      text-decoration: none !important;
      border: none;
      opacity: 1;
    }

    .divider {
      padding: 0 20px;
    }
  }
}
