/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.tb-css {
  position: relative;

  &.tb-disabled {
    color: rgba(0, 0, 0, .38);
  }

  &.fill-height {
    height: 100%;
  }

  .tb-css-content-panel {
    height: calc(100% - 80px);
    margin-left: 15px;
    border: 1px solid #c0c0c0;

    #tb-css-input {
      width: 100%;
      min-width: 200px;
      height: 100%;

      &:not(.fill-height) {
        min-height: 200px;
      }
    }
  }

  .tb-css-toolbar {
    & > * {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    button.mat-button, button.mat-icon-button, button.mat-icon-button.tb-mat-32 {
      background: rgba(220, 220, 220, .35);
      align-items: center;
      vertical-align: middle;
      min-width: 32px;
      min-height: 15px;
      padding: 4px;
      font-size: .8rem;
      line-height: 15px;
      &:not(.tb-help-popup-button) {
        color: #7b7b7b;
      }
    }
    .tb-help-popup-button-loading {
      background: #f3f3f3;
    }
  }
}
