/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  section.tb-footer-fab-buttons {
    &:not(.relative-buttons) {
      position: fixed;
      right: 20px;
      bottom: 20px;
      z-index: 30;
      pointer-events: none;
    }

    .fab-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      > div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        button {
          margin-bottom: 17px;
        }
      }
    }

    .tb-btn-footer {
      &.fab-toggler {
        margin-top: 0;
      }
      position: relative !important;
      display: inline-block !important;
      animation: tbMoveFromBottomFade .3s ease both;

      &.tb-hide {
        animation: tbMoveToBottomFade .3s ease both;
      }
    }
  }
}
