/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host ::ng-deep {
  .tb-help-markdown {
    overflow: auto;
    max-width: 80vw;
    max-height: 80vh;
    margin-top: 30px;
  }
  .tb-help-markdown.tb-markdown-view {
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        padding-top: 0;
      }
    }
  }
}
