/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.tb-help-popup-button-container {
  width: initial;
  display: inline-block;
  vertical-align: middle;
}

.tb-help-popup-button {
  position: relative;
  .mat-progress-spinner {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    width: 32px !important;
    height: 32px !important;
    svg {
      top: 6px;
      left: 6px;
    }
  }
}

.tb-help-popup-text-button {
  position: relative;
  padding: 0 2px 0 8px;
  line-height: 28px;
  &.mat-stroked-button {
    padding: 0 1px 0 7px;
    line-height: 26px;
  }
  .mat-icon {
    padding-left: 4px;
  }
  .mat-progress-spinner {
    display: inline-block;
    margin-left: 4px;
    margin-right: 5px;
  }
}
