/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../scss/constants";

$previewSize: 100px !default;

:host {

  .tb-container {
    margin-top: 0;
    label.tb-title {
      display: block;
      padding-bottom: 8px;
    }
  }

  .tb-image-select-container {
    position: relative;
    width: 100%;
    height: $previewSize;
  }

  .tb-image-preview {
    width: auto;
    max-width: $previewSize - 2;
    height: auto;
    max-height: $previewSize - 2;
  }

  .tb-image-preview-container {
    position: relative;
    float: left;
    width: $previewSize;
    height: $previewSize;
    margin-right: 12px;
    vertical-align: top;
    border: solid 1px;

    div {
      width: 100%;
      font-size: 18px;
      text-align: center;
    }

    div,
    .tb-image-preview {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .tb-image-clear-container {
    position: relative;
    float: right;
    width: 48px;
    height: $previewSize;
  }

  .tb-image-clear-btn {
    position: absolute !important;
    top: 50%;
    transform: translate(0%, -50%) !important;
  }

  .file-input {
    display: none;
  }

  .tb-flow-drop {
    position: relative;
    height: $previewSize;
    overflow: hidden;
    border: dashed 2px;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 16px;
      text-align: center;

      @media #{$mat-gt-sm} {
        font-size: 24px;
      }
    }
  }

  .tb-hint{
    margin-top: 8px;
  }
}
