<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="tb-container">
  <label class="tb-title" *ngIf="label">{{ label }}</label>
  <ng-container
    #flow="flow"
    [flowConfig]="{ singleFile: true, allowDuplicateUploads: true }"
  >
    <div class="tb-image-select-container">
      <div *ngIf="showPreview" class="tb-image-preview-container">
        <div *ngIf="!safeImageUrl; else elseBlock">
          {{
            (disabled ? "dashboard.empty-image" : "dashboard.no-image")
              | translate
          }}
        </div>
        <ng-template #elseBlock
          ><img class="tb-image-preview" [src]="safeImageUrl"
        /></ng-template>
      </div>
      <div
        *ngIf="showClearButton && !disabled"
        class="tb-image-clear-container"
      >
        <button
          mat-button
          mat-icon-button
          color="primary"
          type="button"
          (click)="clearImage()"
          class="tb-image-clear-btn"
          matTooltip="{{ 'action.remove' | translate }}"
          matTooltipPosition="above"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div
        *ngIf="!disabled"
        class="drop-area tb-flow-drop"
        flowDrop
        [flow]="flow.flowJs"
      >
        <label for="{{ inputId }}" translate>dashboard.drop-image</label>
        <input
          class="file-input"
          flowButton
          type="file"
          [flow]="flow.flowJs"
          [flowAttributes]="{ accept: 'image/*' }"
          id="{{ inputId }}"
        />
      </div>
    </div>
  </ng-container>
  <div
    class="tb-hint"
    *ngIf="maxSizeByte && !disabled"
    translate
    [translateParams]="{ size: maxSizeByte | fileSize }"
  >
    dashboard.maximum-upload-file-size
  </div>
</div>
