/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  position: relative;

  .fill-height {
    height: 100%;
  }
}

.tb-json-content-toolbar {
  button.mat-button, button.mat-icon-button, button.mat-icon-button.tb-mat-32 {
    align-items: center;
    vertical-align: middle;
    min-width: 32px;
    min-height: 15px;
    padding: 4px;
    margin: 0;
    font-size: .8rem;
    line-height: 15px;
    color: #7b7b7b;
    background: rgba(220, 220, 220, .35);
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}

.tb-json-content-panel {
  height: 100%;
  margin-left: 15px;
  border: 1px solid #c0c0c0;

  #tb-json-input {
    width: 100%;
    min-width: 200px;
    height: 100%;

    &:not(.fill-height) {
      min-height: 200px;
    }
  }
}
