<!--

    Copyright © 2016-2022 The Unalink Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<section fxLayout="column" class="tb-kv-map" [formGroup]="kvListFormGroup">
  <label translate class="tb-title no-padding">{{ titleText }}</label>
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
    style="max-height: 40px"
    formArrayName="keyVals"
    *ngFor="
      let keyValControl of keyValsFormArray().controls;
      let $index = index
    "
  >
    <mat-form-field
      fxFlex
      floatLabel="always"
      hideRequiredMarker
      class="mat-block"
      style="max-height: 40px"
    >
      <mat-label></mat-label>
      <input
        [formControl]="keyValControl.get('key')"
        matInput
        required
        placeholder="{{
          (keyPlaceholderText ? keyPlaceholderText : 'key-val.key') | translate
        }}"
      />
    </mat-form-field>
    <mat-form-field
      fxFlex
      floatLabel="always"
      hideRequiredMarker
      class="mat-block"
      style="max-height: 40px"
    >
      <mat-label></mat-label>
      <input
        [formControl]="keyValControl.get('value')"
        matInput
        required
        placeholder="{{
          (valuePlaceholderText ? valuePlaceholderText : 'key-val.value')
            | translate
        }}"
      />
    </mat-form-field>
    <button
      mat-button
      mat-icon-button
      color="primary"
      [fxShow]="!disabled"
      type="button"
      (click)="removeKeyVal($index)"
      [disabled]="isLoading$ | async"
      matTooltip="{{ 'key-val.remove-entry' | translate }}"
      matTooltipPosition="above"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <span
    [fxShow]="!keyValsFormArray().length"
    fxLayoutAlign="center center"
    [ngClass]="{ disabled: disabled }"
    class="no-data-found"
    translate
    >{{ noDataText ? noDataText : "key-val.no-data" }}</span
  >
  <div style="margin-top: 8px">
    <button
      mat-button
      mat-raised-button
      color="primary"
      [fxShow]="!disabled"
      [disabled]="isLoading$ | async"
      (click)="addKeyVal()"
      type="button"
      matTooltip="{{ 'key-val.add-entry' | translate }}"
      matTooltipPosition="above"
    >
      {{ "action.add" | translate }}
    </button>
  </div>
</section>
