/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  display: inline-block;
  pointer-events: all;
  &.toast-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    &.left {
      justify-content: flex-start;
    }
    &.right {
      justify-content: flex-end;
    }
    &.top {
      align-items: flex-start;
    }
    &.bottom {
      align-items: flex-end;
    }
    &.h-center {
      justify-content: center;
    }
    &.v-center {
      align-items: center;
    }
  }
  .tb-toast {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    padding: 0 18px;
    margin: 8px;
    .toast-text {
      padding: 0 6px;
      width: 100%;
    }
    button {
      margin: 6px 0 6px 12px;
    }
    &.info-toast {
      background: #323232;
    }
    &.warn-toast {
      background: #dc6d1b;
    }
    &.error-toast {
      background: #800000;
    }
    &.success-toast {
      background: #008000;
    }
  }
}
