/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host ::ng-deep {
  mat-form-field.tb-value-type {
    .mat-form-field-infix {
      padding-bottom: 1px;
    }
    mat-select-trigger {
      .mat-icon {
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }
}
