/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import '../../../scss/constants';

tb-widgets-bundle-select {
  mat-select {
    margin: 0;
  }

  .tb-bundle-item {
    height: 26px;
    line-height: 26px;
  }
}

.tb-widgets-bundle-select {
  .tb-bundle-item {
    height: 48px;
    line-height: 48px;
  }
}

tb-widgets-bundle-select,
.tb-widgets-bundle-select {
  .mat-select-value-text {
    display: block;
    width: 100%;
  }

  .tb-bundle-item {
    display: inline-block;
    width: 100%;

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .tb-bundle-system {
      float: right;
      font-size: .8rem;
      opacity: .8;
    }
  }

  mat-option {
    height: auto !important;
    white-space: normal !important;
  }
}

mat-toolbar {
  tb-widgets-bundle-select {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
      .mat-form-field-infix {
        background: rgba(255, 255, 255, .2);
        padding: 5px 20px !important;
        border: none;

        mat-select {
          .mat-select-value-text {
            font-size: 1.2rem;
            color: #fff;

            span:first-child::after {
              color: #fff;
            }
          }

          .mat-select-value {
            vertical-align: middle;
            min-height: 30px;
            height: 30px;
            padding: 2px 2px 1px;
            .mat-select-placeholder {
              color: #fff;
              opacity: .8;
              line-height: 26px;
            }
          }
        }

        .mat-select.mat-select-invalid {
          .mat-select-arrow {
            color: #fff !important;
          }
        }

        @media #{$mat-xs} {
          width: auto;
        }
      }
      .mat-form-field-underline {
        display: none;
      }
    }
  }
}
