/**
 * Copyright © 2016-2022 The Unalink Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.input-wrapper {
  background: hsla(0, 0%, 100%, .2);
  border-radius: 8px;
  color: rgb(255, 255, 255, .84);
  padding: 5px 8px 5px 16px;
  height: 46px;

  input {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;

    &::placeholder {
      color: #fff;
      opacity: .6;
      line-height: 26px;
    }
  }

  &.focus {
    background: #fff;
    color: rgba(0,0,0,.54);

    input {
      color: #000;
      opacity: .60;
    }

    .close {
      color: #000 !important;
      opacity: .54;
    }
  }
}

